<extend name="Public:base" />
<block name="title"><title>工作流管理系统</title></block>
<block name="right">
<css href="__PUBLIC__/css/index.css"/>
	<div class="meeting-content">
		<div class="inner-box meeting-prompt">
			<table>
				<tr>
					<td class="td-title">与会提醒：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">近期会议数量：</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="inner-box create-amount">
			<table>
				<tr>
					<td class="td-title">会议创建数量：</td>
					<td></td>
				</tr>
			</table>		
		</div>
		<div class="inner-box work-status">
			<table>
				<tr>
					<td class="td-title">工作单状态提醒：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">待处理工作单：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">已处理工作单：</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="inner-box work-progress">
			<table>
				<tr>
					<td class="td-title">工作单进度：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">完成：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">挂起：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">废弃：</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="inner-box file-release">
			<table>
				<tr>
					<td class="td-title">文档发布状态：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">发布完成：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">发布废弃：</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="inner-box ledger-release">
			<table>
				<tr>
					<td class="td-title">台账发布数：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">文字台账：</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">会务台账：</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="inner-box"></div>
		<div class="inner-box"></div>

	</div>
</block>