<extend name="Public:base" />
<block name="title"><title>海航生态科技协同办公管理系统</title></block>
<block name="right">
<css href="__PUBLIC__/css/index.css"/>
<div class="index-page">
	<div class="meeting-content">
		<div class="inner-box meeting-prompt">
			<table>
				<tr>
					<td class="td-title title1">与会提醒</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">近期会议数量：</td>
					<td>{$list['meeting']['num_month']}</td>
				</tr>
			</table>
		</div>
		<div class="inner-box work-progress">
			<table>
				<tr>
					<td class="td-title title1">工作单进度</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">完成：</td>
					<td>{$list['worksheet']['num_done']}</td>
				</tr>
				<tr>
					<td class="td-title">挂起：</td>
					<td>{$list['worksheet']['num_guaqi']}</td>
				</tr>
				<tr>
					<td class="td-title">废弃：</td>
					<td>{$list['worksheet']['num_feiqi']}</td>
				</tr>
			</table>
		</div>
		<div class="inner-box file-release">
			<table>
				<tr>
					<td class="td-title title1">文档发布状态</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">发布完成：</td>
					<td>{$list['doc']['num_pub']}</td>
				</tr>
				<tr>
					<td class="td-title">发布废弃：</td>
					<td>{$list['doc']['num_delete']}</td>
				</tr>
			</table>
		</div>
		<div class="inner-box work-status">
			<table>
				<tr>
					<td class="td-title title1">工作单状态提醒</td>
					<td></td>
				</tr>
				<tr>
					<td class="td-title">待处理工作单：</td>
					<td>{$list['worksheet']['num_todo']}</td>
				</tr>
				<tr>
					<td class="td-title">已处理工作单：</td>
					<td>{$list['worksheet']['num_do']}</td>
				</tr>
			</table>
		</div>
		<div class="inner-box create-amount">
			<table>
				<tr>
					<td class="td-title">会议创建数量：</td>
					<td>{$list['meeting']['num_create']}</td>
				</tr>
			</table>		
		</div>
		
		<div class="inner-box ledger-release">
			<table>
				<tr>
					<td class="td-title">台账总数：</td>
					<td>{$list['account']['total']}</td>
				</tr>
				<tr>
					<td class="td-title">会谈会见台账：</td>
					<td>{$list['account']['ledger_meeting']}</td>
				</tr>
                                <tr>
					<td class="td-title">文稿台账：</td>
					<td>{$list['account']['presentation']}</td>
				</tr>
                                <tr>
					<td class="td-title">内部会议台账：</td>
					<td>{$list['account']['internalmeeting']}</td>
				</tr>
				<tr>
					<td class="td-title">签约仪式台账：</td>
					<td>{$list['account']['ceremoney_account']}</td>
				</tr>
                                <tr>
					<td class="td-title">驻各地情况台账：</td>
					<td>{$list['account']['resident_meeting']}</td>
				</tr>
			</table>
		</div>
		<div class="inner-box"></div>
		<div class="inner-box"></div>

	</div>
</div>
	
</block>