<extend name="Public:base" />
<block name="title"><title>内部会议台账详情</title></block>
 
<block name="right">
    <form action="{:U()}" method='post' enctype= "multipart/form-data" class="mt20" id="productManage">
        <table class="tbl">
            <caption>会议基本信息</caption>
          
            <tr>
                <td class="cap">项目名称：</td>
               <td>
                      {$onedata.internal_name}
                </td>
                <td class="cap">交办人：</td>
                <td>
                   {$onedata.internal_assigned_person}
                </td>
                 <td class="cap">交办时间：</td>
                 <td>
          {$onedata.internal_assigned_date}
                </td>
                
            </tr> 
             <tr>
                <td class="cap">负责人：</td>
                <td>
                      {$onedata.internal_responsible_person}
                </td>
                <td class="cap">会议名称：</td>
                <td>
                       {$onedata.internal_meeting_name}
                </td>
                 <td class="cap">会议时间：</td>
                <td>
                     {$onedata.internal_meeting_date}
                </td>
            </tr>  
            <tr>
                <td class="cap">会议地点：</td>
                <td>
                      {$onedata.internal_meeting_place}
              </td>
                <td class="cap">会议形式：</td>
                <td>
                      {$onedata.internal_meeting_form}
                      
               </td>
               <td class="cap">会议类型：</td>
                <td>
                      {$onedata.internal_meeting_type}
                      
            </tr>
             <tr>
                <td class="cap">会议级别：</td>
                <td>
                      {$onedata.internal_meeting_level}
         
                </td>
                
                <td class="cap">密级：</td>
                <td>
                      {$onedata.internal_meeting_dense}
   
                </td>
                 <td class="cap">召集人：</td>
                <td>
                       {$onedata.internal_call_man}
              </td>
            </tr>
                <tr>
                <td class="cap">主持人：</td>
               <td>
                      {$onedata.internal_host}
                </td>
                <td class="cap">参会人员：</td>
                <td>
                       {$onedata.internal_participants}
                </td>
                 <td class="cap">工作人员：</td>
                 <td>
                      {$onedata.internal_work_ren}
                </td>
                
            </tr> 
             <tr>
                <td class="cap">议程安排：</td>
                <td>
                     {$onedata.internal_meeting_arrange}
                </td>
                <td class="cap">开始时间：</td>
                <td>
                       {$onedata.internal_meeting_start_date}
                </td>
                 <td class="cap">结束时间：</td>
                <td>
                        {$onedata.internal_meeting_stop_date}
                </td>
            </tr> 
        </table>
        <table class="tbl">
            <caption>议程</caption>
            
             <tr>
                 <td class="cap">议程责任人：</td>
                <td >
                     {$onedata.internal_meeting_responsible_person}
                </td>
               <td class="cap">是否预定会议室：</td>
                <td>
                     {$onedata.internal_reserve_name}
                </td>
                 <td class="cap">议程报批状况：</td>
                <td>
                      {$onedata.internal_meeting_bao_state}
              
                </td>
            </tr>
        </table>
        <table class="tbl">
          <caption>通知</caption>           
             <tr>
                 <td class="cap">发布会议通知：</td>
                <td>
                      {$onedata.internal_send_meeting_notice}
                </td>
                 <td class="cap">通知材料准备：</td>
                <td>
                      {$onedata.internal_notice_ready}
                </td>
                 <td class="cap">通知服务单位保障：</td>
                <td>
                      {$onedata.internal_notice_company}
                </td>
             </tr>
        </table>
       
         <table class="tbl">
             <caption>材料</caption>
              <tr>
                 <td class="cap">材料收集：</td>
                <td>
                      {$onedata.internal_material_person}
                </td>
                 <td class="cap">通知日期：</td>
                <td>
                    {$onedata.internal_notice_start_date}
                </td>
                 <td class="cap">通知时间：</td>
                <td>
                       {$onedata.internal_notice_start_time}
                </td>
             </tr>
              <tr>
                 <td class="cap">通知截止日期：</td>
                <td>
                      {$onedata.internal_notice_stop_date}
                </td>
                 <td class="cap">通知截止时间：</td>
                <td>
                     
                       {$onedata.internal_notice_stop_time}
                </td>
            </tr>
                </td>
 
                </td>
                 <td class="cap">违规：</td>
                <td>
                      {$onedata.internal_misdeed}
            
                </td>
             </tr>
             
               <tr>
                      <td class="cap">违规类别（晚交/质量）：</td>
                <td>
                      {$onedata.internal_misdeed_type}
               
                </td>
                 <td class="cap">发送会议材料：</td>
                <td>
                      {$onedata.internal_get_meeting_person}
                </td>
                 <td class="cap">打印材料：</td>
                <td>
                       {$onedata.internal_print_person}
                </td>
              
             </tr>
             
             
        </table>
        <table class="tbl">
            <caption>会场布置</caption>
             <tr>
                 <td class="cap">摆放桌牌：</td>
                <td>
                      {$onedata.internal_bai_person}
                </td>
                 <td class="cap">背景板设计：</td>
                <td>
                      {$onedata.internal_bei_person}
                </td>
                 <td class="cap">背景板：</td>
                <td>
                      {$onedata.internal_beiban}
                </td>
             </tr>
               <tr>
                 <td class="cap">回报台：</td>
                <td>
                      {$onedata.internal_hui_person}
                </td>
                 <td class="cap">测试话筒：</td>
                <td>
                      {$onedata.internal_cehua_person}
                </td>
                 <td class="cap">测试视频：</td>
                <td>
                     {$onedata.internal_cevideo_person}
                </td>
             </tr>
               <tr>
                 <td class="cap">测试音频：</td>
                <td>
                     {$onedata.internal_cemp_person}
                </td>
                 <td class="cap">测试翻页器：</td>
                <td>
                      {$onedata.internal_cefan_person}
                </td>
                 <td class="cap">录音笔：</td>
                <td>
                      {$onedata.internal_recorder_person}
                </td>
             
             </tr>
               <tr>
                
                 <td class="cap">准备茶水：</td>
                <td>
                     {$onedata.internal_ready_person}
                </td>
             
             </tr>
        </table>
         <table class="tbl">
          <caption>会议保障</caption>           
             <tr>
                 <td class="cap">是否出现问题：</td>
                <td>
                      {$onedata.internal_whether_problem}
              
                </td>
                 <td class="cap">问题类型：</td>
                <td>
                      {$onedata.internal_problem_type}
                 
                </td>            
             </tr>
        </table>
        <table class="tbl">
            <caption>会后工作</caption>
             <tr>
                 <td class="cap">纪要拟定责任人：</td>
                <td>
                      {$onedata.internal_summary_person}
                </td>
                 <td class="cap">纪要报批进度：</td>
                <td>
                      {$onedata.internal_summary_speed}
                </td>
                 <td class="cap">是否已下发：</td>
                <td>
                      {$onedata.internal_whether_issued}
                 
                </td>
               
             </tr>
              <tr>
                 <td class="cap">会议材料是否归档：</td>
                <td>
                     {$onedata.internal_meeting_speed}
              
                </td>
                 <td class="cap">归档接受人：</td>
                <td>
                      {$onedata.internal_file_person}
                </td>
                 <td class="cap">归档日期：</td>
                <td>
                      {$onedata.internal_file_time}
                </td>
               
             </tr>
        </table>
         
       
             <tr>
               <td class="cap">改进建议：</td>
                <td>
                 <textarea class="textarea" name="internal_proposal"> {$onedata.internal_proposal}</textarea>
                </td>
            </tr>
    <div class="wrap-btns">
 
         
          <input class="btn ml10 button btn-normal" type="button" onclick="javascript:history.go(-1)" value="取消" />
        </div>
    </form>
</block>