<extend name="Public:base" />
<block name="title"><title>内部会议台账列表</title></block>
<block name="right">
 
<div class="container-padding">
     <form method="post" action="{:U(WorkOrder/index)}" name="queryOrder-form" class="login-form" id="execlid">
        <table class="tbl">
                <caption>查询条件</caption>
                <tr><td class="cap">会议名称：</td>
                    <td><input class="input-text text" name="internal_name" value="{$param['internal_name']}" type="text" id="meeting_name"/></td>
               
                   
                     <td class="cap">创建人:</td>
                    <td><input class="input-text text" name="name" value="{$param['name']}" id="worksheet_rule_person" type="text"/></td>
                    <td class="cap">会议时间：</td>
                    <td><input type="text" name='internal_meeting_date' id="date8" value="{$param['internal_meeting_date']}" id="worksheet_start_date" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl"></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="wrap-btns">
                            <input type="submit" value="查询" id="btn_query" class="btn btn-a btn-xl button"/>
                            <a class="btn btn-c btn-xl button" href="{:U('companyGetExecl')}">公司模板导出</a> 
                            <a class="btn btn-c btn-xl button" href="{:U('groupGetExecl')}">集团模板导出</a>
                            <a class="btn btn-c btn-xl button" title="导入" href="{:U('importExcel')}">导入</a>
                            <input type="hidden" id="hiddenform" name="hiddenform">
                        </div>
                    </td>
                </tr>
        </table>
        </form>
        <div class="tb1 jxssp">
            <table class="tbl tbl-list">

                <caption>
                        <a class="tb-detail f-fr mr30" title="公司模板导出" href="javascript:;" >
                                    <input type="button" class="btn btn-c btn-xl button" value="公司模板导出"  onclick="obtain()">
                                </a> <a class="tb-detail f-fr mr30" title="集团模板导出" href="javascript:;" >
                                    <input type="button" class="btn btn-c btn-xl button" value="集团模板导出"  onclick="obtaintwo()">
                                </a>
                        <a class="tb-detail f-fr mr30" title="导入" href="{:U('importExcel')}">
                                    <input type="button" class="btn btn-c btn-xl button" value="导入">
                                </a>
                    </caption>

                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                        <col width="10%">
                    <col width="28%">
                      
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>会议名称</th>
                    <th>会议类型</th>
                        <th>会议日期</th>
                    <th>主持人</th>
                    <th>会议地点</th>
                    <th>操作</th>
                </tr>
                </thead>
            
            <tbody>    
                    <foreach name="list" item="item">
                <tr>
                            <td>{$s_number++}</td>
                            <td>{$item.internal_name}</td>
                            <td>{$item.internal_meeting_type}</td>
                            <td>{$item.internal_meeting_date|substr=0,10}</td>
                            <td>{$item.internal_host}</td>      
                            <td>{$item.internal_meeting_place}</td>
                           
                            <td>
                                <a class="btn btn-c btn-xl button" href="{:U('InternalMeeting/details',array('id'=>$item['internal_id']))}">详情</a>
                                <a class="btn btn-c btn-xl button" href="{:U('InternalMeeting/save',array('id'=>$item['internal_id']))}">编辑</a>
                                <input type="button" class="btn btn-c btn-xl button" value="删除" onclick="delMeeting({$item['internal_id']})">
                            </td>
                </tr>
                    </foreach>
            </tbody>
            </table>
                <div class="pagination fr">
                    {$page}
 
                </div>
 
            </div>
        </div>      
        <script type="text/javascript">

             //创建
         var rightBtn = '<input class="btn btn-red mr10 submit rightBtn" type="button" onclick="openNew()" value="创建内部会议台账" style="margin-left:580px;width:180px"/>';
            $(rightBtn).appendTo(".location");
            function openNew(){
            location.href = "{:U('add')}";
                
        }
               
               

                $(".judgeMeeting").each(function(){
                    if($.trim($(this).html()) !== ""){
                        $(this).parent().addClass("haveMeeting");
                    }
                });
                /*
                 * 导出execl获取条件
                 */
                function obtain(){
                    $("#hiddenform").val(1);
                    $("#execlid").submit();
                    $("#hiddenform").val(0);
                }
                /*
                 * 导出execl获取条件
                 */
                function obtaintwo(){
                    $("#hiddenform").val(2);
                    $("#execlid").submit();
                    $("#hiddenform").val(0);
                }
                //删除会议
        function delMeeting(id){
         
            $.dialog({
                title: '提示信息', content: '确认删除吗？', ok: function () {
                location.href = '{:U("/Manage/InternalMeeting/delete/id/' + id + '")}';
                },
                        cancel: function () {
                        }
                });
        
 
        }
        </script> 
</block>