<extend name="Public:base" />
<block name="title"><title>会议创建</title></block>
<block name="right">

<div class="container-padding">
 	<form method="post" action="{:U(WorkOrder/index)}" name="queryOrder-form" class="login-form" id="execlid">
	    <table class="tbl">
                <caption>查询条件</caption>
                <tr><td class="cap">会议名称：</td>
                    <td><input class="input-text text" name="internal_name" value="{$param['internal_name']}" type="text" id="meeting_name"/></td>
               
                   
                     <td class="cap">创建人:</td>
                    <td><input class="input-text text" name="username" value="{$param['name']}" id="worksheet_rule_person" type="text"/></td>
                    <td class="cap">会议时间：</td>
                    <td><input type="text" name='internal_meeting_date' id="date8" value="{$param['internal_meeting_date']}" id="worksheet_start_date" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl"></td>
                    <td><input type="submit" value="查询" id="btn_query" class="btn btn-a submit"/></td>
                    <input type="hidden" id="hiddenform" name="hiddenform">
                </tr>
	    </table>
	    </form>
	    <div class="tb1 jxssp">
	        <table class="tbl tbl-list">
	            <caption>
                        <a class="tb-detail f-fr mr30" title="创建工作单" href="{:U('add')}">
                                    <input type="button" class="btn btn-c btn-xl button" value="创建工作单">
                                </a> <a class="tb-detail f-fr mr30" title="工作单导出">
                                    <input type="button" value="工作单导出" id="btn_query" class="btn btn-a submit" onclick="obtain()" />
                                </a>
                    </caption>
	            <colgroup>
	                <col width="10%">
	                <col width="10%">
	                <col width="10%">
	                <col width="10%">
	                <col width="10%">
                        <col width="10%">
	                <col width="28%">
                      
	            </colgroup>
	            <thead>
	            <tr>
	                <th>序号</th>
	                <th>会议名称</th>
	                <th>会议类型</th>
                        <th>会议日期</th>
	                <th>主持人</th>
	                <th>会议地点</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	        
	        <tbody>	
                    <foreach name="list" item="item">
	        	<tr>
                            <td>{$item.worksheet_name}</td>
                            <td>{$item.meeting_name}</td>
                            <td>{$item.name}</td>
                            <td>{$item.worksheet_start_date|substr=0,10}</td>
                            <td>{$item.worksheet_end_date|substr=0,10}</td>      
                            <td>{$item.worksheet_state}</td>
                            <td>
                                <if condition="$item.worksheet_state eq '未启动' ">
                                <div class="Bars"> 
                                    <div style="width: {$item.worksheet_done_persent};"> 
                                        <span>{$item.worksheet_done_persent}</span> 
                                    </div> 
                                </div> 
                                    <elseif condition="$item.worksheet_state eq '正常'" />
                                <div class="Bara"> 
                                    <div style="width: {$item.worksheet_done_persent};"> 
                                        <span>{$item.worksheet_done_persent}</span> 
                                    </div> 
                                </div> 
                                    <elseif condition="$item.worksheet_state eq '挂起'" />
                                <div class="Barb"> 
                                    <div style="width: {$item.worksheet_done_persent};"> 
                                        <span>{$item.worksheet_done_persent}</span> 
                                    </div> 
                                </div> 
                                    <elseif condition="$item.worksheet_state eq '延迟'" />
                                <div class="Barc"> 
                                    <div style="width: {$item.worksheet_done_persent};"> 
                                        <span>{$item.worksheet_done_persent}</span> 
                                    </div> 
                                </div> 
                                 <elseif condition="$item.worksheet_state eq '废弃'" />
                                <div class="Bard"> 
                                    <div style="width: {$item.worksheet_done_persent};"> 
                                        <span>{$item.worksheet_done_persent}</span> 
                                    </div> 
                                </div> 
                                     <else />
                                     
                                 </if>
                            </td>
                            <td>
                                <a class="" title="查看" href="{:U('details?id='.$item['worksheet_id'])}">
                                    <input type="button" class="btn btn-c btn-xl button" value="查看">
                                </a>
                                <a class="" title="编辑" href="{:U('save?id='.$item['worksheet_id'])}">
                                    <input type="button" class="btn btn-c btn-xl button" value="编辑">
                                </a>
                                <a class="" title="督办" href="{:U('sendEmail?id='.$item['worksheet_id'])}">
                                    <input type="button" class="btn btn-c btn-xl button" value="督办">
                                </a>
                            </td>
	        	</tr>
                    </foreach>
	        </tbody>
	        </table>
	            <div class="pagination fr">
	                {$page}

	            </div>

	        </div>
	    </div>	  
	    <script type="text/javascript">
	    	
                /*
                 * 导出execl获取条件
                 */
                function obtain(){
                    $("#hiddenform").val(1);
                    $("#execlid").submit();
                    $("#hiddenform").val(0);
                }
	    </script> 
</block>