<extend name="Public:base"/>
<block name="title"><title>签约仪式台账添加</title></block>

<block name="right">
    <form action="{:U(add)}" method='post' enctype= "multipart/form-data" class="mt20" id="productManage">
        <table class="tbl">
            <caption>仪式基本信息</caption>
            <tr>
                <td class="cap">时间：</td>
                <td>
                    <input type="text" name='ca_time'  id="date2" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                <td class="cap">地点：</td>
                <td>
                    <input type="text" name='ca_address' class="input-text text">
                </td>
                <td class="cap">签约名称：</td>
                <td>
                    <input type="text" name='ca_name' class="input-text text">
                </td>
            </tr> 
            <tr>
                <td class="cap">签约双方：</td>
                <td>
                    <input type="text" name='ca_double' class="input-text text">
                </td>
                <td class="cap">主持人：</td>
                <td>
                    <input type="text" name='ca_host' class="input-text text">
                </td>
                <td class="cap">发言领导：</td>
                <td>
                    <input type="text" name='ca_say_leader' class="input-text text">
                </td>
            </tr>
            <tr>
                <td class="cap">证签领导：</td>
                <td>
                    <input type="text" name='ca_zq_leader' class="input-text text">
                </td>
                <td class="cap">签约领导：</td>
                <td>
                    <input type="text" name='ca_qy_leader' class="input-text text">
                </td>
                <td class="cap">参会人员：</td>
                <td>
                    <input type="text" name='ca_participants' class="input-text text">
                </td>
            </tr>
            <tr>
                <td class="cap">密级：</td>
                <td>
                    <select name="ca_security_level" class="config-category">
                        <foreach name="ca_sl" item="item">
                            <option value="{$item['config_value']}">{$item['config_descripion']}</option>
                        </foreach>
                    </select>
                </td>
                <td class="cap">着装：</td>
                <td>
                    <input type="text" name='ca_dress' class="input-text text">
                </td>
                <td class="cap">保障人员：</td>
                <td>
                    <input type="text" name='ca_security_person' class="input-text text">
                </td>
            </tr>
            <tr>
                <td class="cap">保障时长：</td>
                <td colspan="5">
                    <input type="text" name='ca_security_time' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>报批</caption>

            <tr>
                <td class="cap">议程责任人：</td>
                <td >
                    <input type="text" name='ca_yc_rpperson' class="input-text text">
                </td>
                <td class="cap">议程报批情况：</td>
                <td>
                    <input type="text" name='ca_yc_apstatus' class="input-text text">
                </td>
                <td class="cap">协议责任人：</td>
                <td >
                    <input type="text" name='ca_xy_rpperson' class="input-text text">
                </td>
            </tr>
            <tr>
                <td class="cap">协议报批情况：</td>
                <td colspan="5">
                    <input type="text" name='ca_xy_apstatus' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>通知</caption>           
            <tr>
                <td class="cap">发布会议通知：</td>
                <td>
                    <input type="text" name='ca_notice_send_meeting' class="input-text text">
                </td>
                <td class="cap">通知材料准备：</td>
                <td>
                    <input type="text" name='ca_notice_material_prepara' class="input-text text">
                </td>
                <td class="cap">通知服务单位保障：</td>
                <td>
                    <input type="text" name='ca_notice_service_unit_security' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>文稿准备</caption>
            <tr>
                <td class="cap">准备会议议程：</td>
                <td>
                    <input type="text" name='ca_ready_agenda' class="input-text text">
                </td>
                <td class="cap">准备领导讲话稿：</td>
                <td>
                    <input type="text" name='ca_ready_leader_saydoc' class="input-text text">
                </td>
                <td class="cap">准备来访人简历：</td>
                <td>
                    <input type="text" name='ca_ready_visitor_resume' class="input-text text">
                </td>
            </tr>
            <tr>    
                <td class="cap">准备主持人词：</td>
                <td>
                    <input type="text" name='ca_ready_host_doc' class="input-text text">
                </td>
                <td class="cap">准备签约本：</td>
                <td colspan="3">
                    <input type="text" name='ca_ready_sign_book' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>物资准备</caption>
            <tr>
                <td class="cap">准备电脑：</td>
                <td>
                    <input type="text" name='ca_ready_computer' class="input-text text">
                </td>
                <td class="cap">准备录音笔：</td>
                <td>
                    <input type="text" name='ca_ready_recorder' class="input-text text">
                </td>
                <td class="cap">准备麦克风：</td>
                <td>
                    <input type="text" name='ca_ready_microphone' class="input-text text">
                </td>
                </tr>
                <tr>
                <td class="cap">准备宣传材料：</td>
                <td>
                    <input type="text" name='ca_ready_pub_material' class="input-text text">
                </td>
                <td class="cap">准备签约本：</td>
                <td>
                    <input type="text" name='ca_ready_sign_boop' class="input-text text">
                </td>
                <td class="cap">准备签约笔：</td>
                <td>
                    <input type="text" name='ca_ready_sign_pen' class="input-text text">
                </td>
                </tr>
                <tr>
                <td class="cap">准备签约音乐：</td>
                <td>
                    <input type="text" name='ca_ready_sign_music' class="input-text text">
                </td>
                <td class="cap">准备香槟：</td>
                <td>
                    <input type="text" name='ca_ready_champagne' class="input-text text">
                </td>
                <td class="cap">礼品：</td>
                <td>
                    <input type="text" name='ca_ready_gift' class="input-text text">
                </td>
                </tr>
                <tr>
                <td class="cap">准备桌花：</td>
                <td colspan="5">
                    <input type="text" name='ca_ready_table_flower' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>物料准备</caption>           
            <tr>
                <td class="cap">准备背景板：</td>
                <td>
                    <input type="text" name='ca_ready_bg_plate' class="input-text text">
                </td>
                <td class="cap">准备签约台卡：</td>
                <td>
                    <input type="text" name='ca_make_sign_table_card' class="input-text text"> 
                </td>
                <td class="cap">制作KT板：</td>
                <td>
                    <input type="text" name='ca_make_kt_plate' class="input-text text">
                </td>
                </tr>
                <tr>
                <td class="cap">准备桌牌：</td>
                <td>
                    <input type="text" name='ca_ready_table_card' class="input-text text">
                </td>
                <td class="cap">准备静帧画面：</td>
                <td>
                    <input type="text" name='ca_ready_frame_picture' class="input-text text">
                </td>
                <td class="cap">准备易拉宝：</td>
                <td>
                    <input type="text" name='ca_ready_role_screen' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>会场布置</caption>
            <tr>
                <td class="cap">完成场地布置：</td>
                <td>
                    <input type="text" name='ca_do_site_layout' class="input-text text">
                </td>
                <td class="cap">完成背景板搭建：</td>
                <td>
                    <input type="text" name='ca_do_bg_plate' class="input-text text">
                </td>
                <td class="cap">测试话筒：</td>
                <td>
                    <input type="text" name='ca_test_microphone' class="input-text text">
                </td>
                </tr>
                <tr>
                <td class="cap">测试音频：</td>
                <td colspan="5">
                    <input type="text" name='ca_test_audio' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>接待保障</caption>           
            <tr>
                <td class="cap">通知接待保障：</td>
                <td>
                    <input type="text" name='ca_notice_jdbz' class="input-text text">
                </td>
                <td class="cap">接待责任人：</td>
                <td>
                    <input type="text" name='ca_recep_person' class="input-text text">
                </td>            
            </tr>
        </table>
        <table class="tbl">
            <caption>现场保障</caption>
            <tr>
                <td class="cap">保障人员：</td>
                <td>
                    <input type="text" name='ca_scene_security_person' class="input-text text">
                </td>
                <td class="cap">传译人员：</td>
                <td>
                    <input type="text" name='ca_translation_person' class="input-text text">
                </td>
                <td class="cap">差错：</td>
                <td>
                    <input type="text" name='ca_error' class="input-text text">
                </td>
                </tr>
                <tr>
                <td class="cap">原因分析：</td>
                <td colspan="5">
                    <input type="text" name='ca_error_resaon' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>会后文稿</caption>           
            <tr>
                <td class="cap">拟定今日海航：</td>
                <td>
                    <input type="text" name='ca_make_today_hh' class="input-text text">
                </td>
                <td class="cap">发文时间：</td>
                <td>
                    <input type="text" name='ca_pub_date' onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>材料存档</caption>
            <tr>
                <td class="cap">责任人：</td>
                <td>
                    <input type="text" name='ca_store_doc_person' class="input-text text">
                </td>
                <td class="cap">交接单位：</td>
                <td>
                    <input type="text" name='ca_transfer_unit' class="input-text text">
                </td>
                <td class="cap">存档地址：</td>
                <td>
                    <input type="text" name='ca_store_doc_address' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>优化建议</caption>
            <tr>
                <td class="cap">改进建议：</td>
                <td>
                    <textarea class="textarea" name="ca_improve_suggestion"></textarea>
                </td>
            </tr>
        </table>
        <div class="wrap-btns">
            <input class="btn btn-c mr10 btn-submit" id='add-btn' type="submit" value="保存"/>
            <input class="btn ml10 button btn-normal" type="button" value="取消" onclick="javascript:history.back(-1)"/>
        </div>
    </form>
</block>