<extend name="Public:base"/>
<block name="title"><title>签约仪式台账详情</title></block>

<block name="right">
    <form action="{:U(edit)}" method='post' enctype= "multipart/form-data" class="mt20" id="productManage">
        <table class="tbl">
            <caption>仪式基本信息</caption>

            <tr>
                <td class="cap">时间：</td>
                <td>
                    {$ca_info['ca_time']}
                </td>
                <td class="cap">地点：</td>
                <td>
                    {$ca_info['ca_address']}
                </td>
                <td class="cap">签约名称：</td>
                <td>
                    {$ca_info['ca_name']}
                </td>
            </tr> 
            <tr>
                <td class="cap">签约双方：</td>
                <td>
                    {$ca_info['ca_double']}
                </td>
                <td class="cap">主持人：</td>
                <td>
                    {$ca_info['ca_host']}
                </td>
                <td class="cap">发言领导：</td>
                <td>
                    {$ca_info['ca_say_leader']}
                </td>
            </tr>
            <tr>
                <td class="cap">证签领导：</td>
                <td>
                    {$ca_info['ca_zq_leader']}
                </td>
                <td class="cap">签约领导：</td>
                <td>
                    {$ca_info['ca_qy_leader']}
                </td>
                <td class="cap">参会人员：</td>
                <td>
                    {$ca_info['ca_participants']}
                </td>
            </tr>
            <tr>
                <td class="cap">密级：</td>
                <td>
                    {$ca_info['ca_sl_name']}
                </td>
                <td class="cap">着装：</td>
                <td>
                    {$ca_info['ca_dress']}
                </td>
                <td class="cap">保障人员：</td>
                <td>
                    {$ca_info['ca_security_person']}
                </td>
            </tr>
            <tr>
                <td class="cap">保障时长：</td>
                <td colspan="5">
                    {$ca_info['ca_security_time']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>报批</caption>

            <tr>
                <td class="cap">议程责任人：</td>
                <td >
                    {$ca_info['ca_yc_rpperson']}
                </td>
                <td class="cap">议程报批情况：</td>
                <td>
                    {$ca_info['ca_yc_apstatus']}
                </td>
                <td class="cap">协议责任人：</td>
                <td >
                    {$ca_info['ca_xy_rpperson']}
                </td>
                <td class="cap">协议报批情况：</td>
                <td >
                    {$ca_info['ca_xy_apstatus']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>通知</caption>           
            <tr>
                <td class="cap">发布会议通知：</td>
                <td>
                    {$ca_info['ca_notice_send_meeting']}
                </td>
                <td class="cap">通知材料准备：</td>
                <td>
                    {$ca_info['ca_notice_material_prepara']}
                </td>
                <td class="cap">通知服务单位保障：</td>
                <td>
                    {$ca_info['ca_notice_service_unit_security']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>文稿准备</caption>
            <tr>
                <td class="cap">准备会议议程：</td>
                <td>
                    {$ca_info['ca_ready_agenda']}
                </td>
                <td class="cap">准备领导讲话稿：</td>
                <td>
                    {$ca_info['ca_ready_leader_saydoc']}
                </td>
                <td class="cap">准备来访人简历：</td>
                <td>
                    {$ca_info['ca_ready_visitor_resume']}
                </td>
                <td class="cap">准备主持人词：</td>
                <td>
                    {$ca_info['ca_ready_host_doc']}
                </td>
                <td class="cap">准备签约本：</td>
                <td>
                    {$ca_info['ca_ready_sign_book']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>物资准备</caption>
            <tr>
                <td class="cap">准备电脑：</td>
                <td>
                    {$ca_info['ca_ready_computer']}
                </td>
                <td class="cap">准备录音笔：</td>
                <td>
                    {$ca_info['ca_ready_recorder']}
                </td>
                <td class="cap">准备麦克风：</td>
                <td>
                    {$ca_info['ca_ready_microphone']}
                </td>
                <td class="cap">准备宣传材料：</td>
                <td>
                    {$ca_info['ca_ready_pub_material']}
                </td>
                <td class="cap">准备签约本：</td>
                <td>
                    {$ca_info['ca_ready_sign_boop']}
                </td>
            </tr>
            <tr>
                <td class="cap">准备签约笔：</td>
                <td>
                    {$ca_info['ca_ready_sign_pen']}
                </td>
                <td class="cap">准备签约音乐：</td>
                <td>
                    {$ca_info['ca_ready_sign_music']}
                </td>
                <td class="cap">准备香槟：</td>
                <td>
                    {$ca_info['ca_ready_champagne']}
                </td>
                <td class="cap">礼品：</td>
                <td>
                    {$ca_info['ca_ready_gift']}
                </td>
                <td class="cap">准备桌花：</td>
                <td>
                    {$ca_info['ca_ready_table_flower']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>物料准备</caption>           
            <tr>
                <td class="cap">准备背景板：</td>
                <td>
                    {$ca_info['ca_ready_bg_plate']}
                </td>
                <td class="cap">准备签约台卡：</td>
                <td>
                    {$ca_info['ca_make_sign_table_card']}
                </td>
                <td class="cap">制作KT板：</td>
                <td>
                    {$ca_info['ca_make_kt_plate']}
                </td>
                <td class="cap">准备桌牌：</td>
                <td>
                    {$ca_info['ca_ready_table_card']}
                </td>
                <td class="cap">准备静帧画面：</td>
                <td>
                    {$ca_info['ca_ready_frame_picture']}
                </td>
                <td class="cap">准备易拉宝：</td>
                <td>
                    {$ca_info['ca_ready_role_screen']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>会场布置</caption>
            <tr>
                <td class="cap">完成场地布置：</td>
                <td>
                    {$ca_info['ca_do_site_layout']}
                </td>
                <td class="cap">完成背景板搭建：</td>
                <td>
                    {$ca_info['ca_do_bg_plate']}
                </td>
                <td class="cap">测试话筒：</td>
                <td>
                    {$ca_info['ca_test_microphone']}
                </td>
                <td class="cap">测试音频：</td>
                <td>
                    {$ca_info['ca_test_audio']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>接待保障</caption>           
            <tr>
                <td class="cap">通知接待保障：</td>
                <td>
                    {$ca_info['ca_notice_jdbz']}
                </td>
                <td class="cap">接待责任人：</td>
                <td>
                    {$ca_info['ca_recep_person']}
                </td>            
            </tr>
        </table>
        <table class="tbl">
            <caption>现场保障</caption>
            <tr>
                <td class="cap">保障人员：</td>
                <td>
                    {$ca_info['ca_scene_security_person']}
                </td>
                <td class="cap">传译人员：</td>
                <td>
                    {$ca_info['ca_translation_person']}
                </td>
                <td class="cap">差错：</td>
                <td>
                    {$ca_info['ca_error']}
                </td>
                <td class="cap">原因分析：</td>
                <td>
                    {$ca_info['ca_error_resaon']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>会后文稿</caption>           
            <tr>
                <td class="cap">拟定今日海航：</td>
                <td>
                    {$ca_info['ca_make_today_hh']}
                </td>
                <td class="cap">发文时间：</td>
                <td>
                    {$ca_info['ca_pub_date']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>材料存档</caption>
            <tr>
                <td class="cap">责任人：</td>
                <td>
                    {$ca_info['ca_store_doc_person']}
                </td>
                <td class="cap">交接单位：</td>
                <td>
                    {$ca_info['ca_transfer_unit']}
                </td>
                <td class="cap">存档地址：</td>
                <td>
                    {$ca_info['ca_store_doc_address']}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>优化建议</caption>
            <tr>
                <td class="cap">改进建议：</td>
                <td colspan="5">
                    {$ca_info['ca_improve_suggestion']}
                </td>
            </tr>
        </table>
        <div class="wrap-btns">
            <input class="btn ml10 button btn-normal" type="button" value="返回" onclick="javascript:history.back(-1)"/>
        </div>
    </form>
</block>

