<extend name="Public:base"/>
<block name="title"><title>签约仪式台账列表</title></block>
<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
    <div class="role-padding container-padding">     
        <div class="filter-main clear">              
            <form id="search_form" method="post" action="{:U(index)}">
                <table class="tbl">
                    <tr>
                        <td class="cap">会谈名称:</td>
                        <td> <input class="input-text" type="text" name="ca_name" value="{$remember_search['ca_name']}"></td>
                        <td class="cap">主持人：</td>
                        <td><input class="input-text" type="text" name="ca_host" value="{$remember_search['ca_host']}"></td>
                        <td class="cap">时间：</td>
                        <td><input type="text" name='ca_time' id="date8" value="{$remember_search['ca_time']}" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl" ></td>                   
                    </tr>
                    <tr>
                        <td colspan="10">
                            <div class="text-center">
                                <input type="hidden" id="flag_search_form" name="flag_search_form" value="{$remember_search['flag_search_form']}"/>
                                <input class="btn btn-a submit" type="submit" value="查询"/>
                                <a href="{:U(add)}">
                                    <input type="button" class="btn btn-a submit" value="创建"/>
                                </a>
                                <a href="javascript:;" onclick="makeExcel()" class="tb-detail f-fr mr30">
                                    <input class="btn btn-r btn-xl button" type="button" value="导出"/>
                                </a>
                                <a  href="{:U(importExcel)}" class="tb-detail f-fr mr30">
                                    <input class="btn btn-r btn-xl button" type="button" value="导入"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <table class="tbl tbl-list">
                <caption>文档列表</caption>
                <colgroup>
                    <col width="9%">
                    <col width="13%">
                    <col width="11%">
                    <col width="11%">
                    <col width="25%">
                    <col width="38%">
                </colgroup>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>会谈名称</th>
                        <th>时间</th>
                        <th>主持人</th>
                        <th>会议地点</th>              
                        <th>操作</th>
                    </tr>
                </thead>	        
                <tbody>	

                <foreach name="list" item="item">
                    <tr>
                        <td>{$s_number++}</td>
                        <td>{$item.ca_name}</td>
                        <td>{$item.ca_time}</td>
                        <td>{$item.ca_host}</td>
                        <td>{$item.ca_address}</td> 
                        <td>
                            <a href="{:U('CeremoneyAccount/detail',array('ca_id'=>$item['ca_id']))}"> 
                                <input type="button" value="详情" class="btn btn-r btn-xl button">
                            </a> 
                            <a href="{:U('CeremoneyAccount/edit',array('ca_id'=>$item['ca_id']))}">
                                <input type="button" value="编辑" class="btn btn-r btn-xl button">
                            </a> 
                            <a onclick="del({$item['ca_id']})"> 
                                <input type="button" value="删除" class="btn btn-r btn-xl button">
                            </a> 
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>
        <div class="pagination fr">
            {$page}
        </div>
    </div> 
    <script type="text/javascript">

        //导出excel
        function makeExcel() {

            $("#flag_search_form").val(1);
            $("#search_form").submit();
            $("#flag_search_form").val(0);
        }

        //删除操作
        function del(ca_id) {
            $.dialog({
                title: '提示信息', content: '确定删除这条台账信息？', ok: function () {
                    location.href = '{:U("/Manage/CeremoneyAccount/delete/ca_id/'+ca_id+'")}';
                },
                cancel: function () {
                    this.close();
                }
            });
        }
    </script> 
</block>

