<extend name="Public:base" />
<block name="title"><title>会议查询</title></block>

<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
    <div class="container-padding">
        <form method="post" action="{:U(selectMeeting)}" id='execlid'>
            <input type='hidden' name='hiddenform' id='hiddenform' value='0'>
            <table class="tbl">
                <caption>查询条件</caption>
                <tr>
                    <td class="cap">会议名称：</td>
                    <td><input class="input-text text" name="meeting_name" value="{$search.meeting_name}" type="text" placeholder="关键字"/></td>
                    <td class="cap">召集人：</td>
                    <td><input class="input-text text" name="meeting_callman" value="{$search.meeting_callman}" type="text"/></td>
                    <td class="cap">会议时间：</td>
                    <td><input type="text" name='meeting_date' id="date8" value="{$search.meeting_date}" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl"></td>
                </tr> 
                <tr>
                    <td colspan="6">
                        <div class="wrap-btns">
                            <input class="btn btn-red mr10 submit" type="submit" value="查询"/>
                            <input class="btn btn-red mr10 submit" type="button" onclick='importExcel()' value="导入"/>
                        </div>
                    </td>
                </tr>        
            </table>
        </form>
        <div class="tb1 jxssp">
            <table class="tbl tbl-list">
                <caption>会议列表</caption>
                <colgroup>
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    <col width="13%">
                    <col width="13%">
                    <col width="28%">
                </colgroup>
                <thead>
                    <tr>
                        <th>会议名称</th>
                        <th>会议类型</th>
                        <th>会议日期</th>
                        <th>主持人</th>
                        <th>会议地点</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>	
                <foreach name="meeting_info" item="item">

                    <tr>
                        <td>{$item.meeting_name}</td>
                        <td>{$item.meeting_type}</td>
                        <td>{$item.meeting_date}</td>
                        <td>
                    <if condition="$item.meeting_moderator AND $item.meeting_moderator_value ">
                        {$item.meeting_moderator},
                        <else />
                        {$item.meeting_moderator}
                    </if>
                    {$item.meeting_moderator_value}</td>
                    <td>{$item.meeting_place}</td>
                    <td>
                        <input type="button" value="详细" onclick="showMeeting({$item.meeting_id})" class="btn btn-r btn-xl button">
                        <input type="button" value="编辑" onclick="edit({$item.meeting_id})" class="btn btn-r btn-xl button">
                        <input type="button" value="删除" onclick="delMeeting({$item.meeting_id})" class="btn btn-r btn-xl button">
                    </td>

                    </tr>
                </foreach>

                </tbody>
            </table>
            <div class="pagination fr">
                {$page}

            </div>

        </div>
    </div>	  
    <script type="text/javascript">
        var rightBtn = '<input class="btn btn-red mr10 submit leftBtn" onclick="createMeeting()" type="button" value="创建会议"/>';
        var exportBtn = '<input class="btn btn-red mr10 submit rightBtn" type="button" onclick="importMeeting()" value="会议记录导出"/>';
        $(rightBtn).appendTo(".location");
        $(exportBtn).appendTo(".location");
        //跳转添加会议页面
        function createMeeting(){
        location.href = "{:U('/Manage/Meeting/addMeeting/')}"
        }
        //跳转编辑页面
        function edit(id){
        location.href = "{:U('/Manage/Meeting/edit/meeting_id/" + id + "')}"
        }
        //跳转查看页面
        function showMeeting(id){
        location.href = "{:U('/Manage/Meeting/showMeeting/meeting_id/" + id + "')}"
        }
        //删除会议
        function delMeeting(id){
            $.dialog({
                title: '提示信息', content: '确认删除吗？', ok: function () {
//                 location.href = 'U("/Manage/Meeting/delMeeting/'+'meeting_id/'+id+'"')'
                 location.href = "{:U('/Manage/Meeting/delMeeting/meeting_id/" + id + "')}"
                },
                cancel: function () {
                }
                //('', {meeting_id:id}, function(obj){
            });

        }
        //会议导出
        function importMeeting(){
        $("#hiddenform").val(1);
        $("#execlid").submit();
        $("#hiddenform").val(0);
        }
        //会议导入
        function importExcel(){
        location.href = '{:U(importExcel)}'
        }

    </script> 
</block>