<extend name="Public:base" />
<block name="title"><title>会议详细信息</title></block>

<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
        <table class="tbl">
            <colgroup>
                <col width="12%">
                <col width="21%">
                <col width="13%">
                <col width="21%">
                <col width="12%">
                <col width="21%">
            </colgroup>

            <caption>创建会议信息</caption>
            <tr>
                <td class="cap"><span class="rq">*</span>会议名称：</td>
                <td colspan="5">
                    {$meeting_info.meeting_name}
                </td>
            </tr>
            <tr>
                <td class="cap">会议类型：</td>
                <td>
                    {$meeting_info.meeting_type}
                </td>
                <td class="cap">会议级别：</td>
                <td colspan="3">
                    {$meeting_info.meeting_level}
                </td>
            </tr>
            <tr>
                <td class="cap">召集人：</td>
                <td>
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_callman" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_callman_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                    </div>
                </td>
                <td class="cap">主持人：</td>
                <td colspan="3">
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_moderator" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_moderator_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cap">会议形式：</td>
                <td>
                        {$meeting_info.meeting_form}
                </td>
                <td class="cap">参会人员：</td>
                <td>
                    <div class="person-content clear">
                        <div class="person-content clear">
                            <foreach name="meeting_info.meeting_participants" key="$key" item="item">
                                <div class="person fl"><span>{$item}</span></div>
                                <br/>
                            </foreach>
                            <foreach name="meeting_info.meeting_participants_value" key="$key" item="item">
                                <div class="person fl"><span>{$item}</span></div>
                                <br/>
                            </foreach>
                        </div>

                    </div>
                </td>
                <td class="cap">参会模式：</td>
                <td>
                    {$meeting_info.meeting_scale}
                </td>
            </tr>
            <tr>
                <td class="cap">会议日期：</td>
                <td>
                    {$meeting_info.meeting_date}
                </td>
                <td class="cap">会议时刻：</td>
                <td>
                    {$meeting_info.meeting_time}
                </td>
                <td class="cap">会议时长：</td>
                <td>
                    {$meeting_info.meeting_timelong}
                </td>
            </tr>
            <tr>
                <td class="cap">会议地点：</td>
                <td>
                    {$meeting_info.meeting_place}
                </td>
                <td class="cap">交办日期：</td>
                <td colspan="3">
                    {$meeting_info.meeting_assigned_date}
                </td>
            </tr>
            <tr>
                <td class="cap">会议通知撰写人：</td>
                <td>
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_writeperson" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_writeperson_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>

                    </div>
                </td>
                <td class="cap">通知发送日期：</td>
                <td>
                    {$meeting_info.meeting_sendnotice_date}
                </td>
                <td class="cap">通知时刻：</td>
                <td>
                    {$meeting_info.meeting_notice_date}
                </td>
            </tr>
            <tr>
                <td class="cap">会议材料收集：</td>
                <td>
                    {$meeting_info.meeting_material_collect_person}
                </td>
                <td class="cap">材料收集时间：</td>
                <td>
                    {$meeting_info.meeting_material_collect_date}
                </td>
                <td class="cap">材料提交时间：</td>
                <td>
                    {$meeting_info.meeting_material_send_date}
                </td>
            </tr>
            <tr>
                <td class="cap">物料准备人：</td>
                <td>
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_material_madeperson" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_material_madeperson_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>

                    </div>
                </td>
                <td class="cap">会场布置调试人：</td>
                <td>
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_venue_arrangeperson" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_venue_arrangeperson_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>

                    </div>
                </td>
                <td class="cap">测试日期：</td>
                <td>
                    {$meeting_info.meeting_try_date}
                </td>
            </tr>
            <tr>
                <td class="cap">测试时间：</td>
                <td>
                    {$meeting_info.meeting_try_time}
                </td>
                <td class="cap">问题明细：</td>
                <td>
                    {$meeting_info.meeting_qusetion_detail}
                </td>
                <td class="cap">解决状态：</td>
                <td>
                          <if condition="$meeting_info.meeting_fix_state eq 1">解决</if>   
                          <if condition="$meeting_info.meeting_fix_state eq 2">未解决</if> 
                         <if condition="$meeting_info.meeting_fix_state eq 3">处理中</if>  
                </td>
            </tr>
            <tr>
                <td class="cap">会议摄影摄像：</td>
                <td>
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_vedio" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_vedio_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>

                    </div>
                </td>
                <td class="cap">会议结束时间：</td>
                <td>
                    {$meeting_info.meeting_end_date}
                </td>
                <td class="cap">会议结束时刻：</td>
                <td>
                    {$meeting_info.meeting_end_time}
                </td>
            </tr>
            <tr>
                <td class="cap">餐饮安排：</td>
                <td>
                    {$meeting_info.meeting_food_drink}
                    <!--                    <select data='meeting[meeting_food_drink]' class="selectItem">
                                            <foreach name="user_info" item="item">
                                                <option value="{$item.uid}">{$item.name}</option>
                                            </foreach>
                                        </select>
                                        <input type="button" class="btn btn-r btn-xl button addMeetingVedio" value="添加">
                                        <input type="text" class="hide hide-input" >
                                        <div class="person-content clear"></div>-->
                </td>
                <td class="cap">会场整理人：</td>
                <td >
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_clean_person" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br/>
                        </foreach>
                        <foreach name="meeting_info.meeting_clean_person_value" key="$key" item="item">
                            <div class="person fl"><span>{$item}</span></div>
                            <br>
                        </foreach>
                    </div>
                </td>    
                <td class="cap">记录整理人：</td>
                <td >
 
                    <div class="person-content clear">
                        <foreach name="meeting_info.meeting_record_person" key="$key" item="item">
                             <div class="person fl"><span>{$item}</span></div>
                           <br>
                        </foreach>
                        <foreach name="meeting_info.meeting_record_person_value" key="$key" item="item">
                             <div class="person fl"><span>{$item}</span></div>
                            <br>
                        </foreach>

                    </div>
                </td>   
            </tr>
            <tr>
                <td class="cap">会议记录：</td>
                <td colspan='5'>
                      {$meeting_info.meeting_content}  
                </td>
            </tr>
            <tr>
                <td class="cap"> <span class="rq">*</span>台账整理人：</td>
                <td colspan="2">
                    {$meeting_info.meeting_ledger_re_person}
                </td>

            </tr>
            <tr>
                <td class="cap">上传附件：</td>
                <td colspan="5">
                    <if condition="$meeting_info.meeting_annexes_url ">
                        <a href="{$meeting_info.meeting_annexes_url}">{$meeting_info.file_name}</a>
                    </if>
                </td>                             
            </tr>
        </table>
        <div class="text-center">
            <input class="btn btn-red mr10 submit" type="button" onclick='backMeeting()' value="返回"/>
        </div>
    <script type="text/javascript">
        $(".selectItem").each(function () {
            if ($(this).val() == "-100") {
                $(this).siblings(".hide-input").show();
            } else {
                $(this).siblings(".hide-input").hide();
            }
        })

        $(".selectItem").on("change", function () {
            if ($(this).val() == "-100") {
                $(this).siblings(".hide-input").show();
            } else {
                $(this).siblings(".hide-input").hide();
            }
        });
        function getHtml(text, uid, selectName) {
            var html = "";
            if (uid == '-100') {
                selectName = selectName + '[value][]';
                uid = text;
            } else {
                selectName = selectName + '[]';

            }
            html += '<div class="person fl">';
            html += '<input type="hidden" name=' + selectName + ' value="' + uid + '">';
            html += '<span>' + text + '</span>';
            html += '<i class="person-del">X</i>';
            html += '</div>';
            return html;
        }
        function addPerson(_this, message) {
            var val = _this.prev("select").children("option:selected").val();
            if (val == "-100") {
                if ($.trim(_this.siblings(".hide-input").val()) == "") {
                    $.dialog.alert(message);
                    return false;
                } else {
                    var inputVal = _this.siblings(".hide-input").val();
                    var len = $(".person").length;
                    for (i = 0; i < len; i++) {
                        if (_this.siblings(".person-content").find(".person").eq(i).children("span").text() == inputVal) {
                            return;
                        }
                    }
                    var uid = _this.prev("select").children("option:selected").val();
                    var seleName = _this.prev("select").attr('data');
                    $(getHtml(inputVal, uid, seleName)).appendTo(_this.siblings(".person-content"));
                }

            } else {
                var text = _this.prev("select").children("option:selected").text();
                var uid = _this.prev("select").children("option:selected").val();
                var seleName = _this.prev("select").attr('data');
                var len = $(".person").length;
                for (i = 0; i < len; i++) {
                    if (_this.siblings(".person-content").find(".person").eq(i).children("span").text() == text) {
                        return;
                    }
                }
                $(getHtml(text, uid, seleName)).appendTo(_this.siblings(".person-content"));
            }

            $(".person-del").on("click", function () {
                $(this).parent().remove();
            });
        }
        $(".person-del").on("click", function () {
            $(this).parent().remove();
        });
        $(".addCallman").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写召集人！");
        });
        $(".addModerator").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写主持人！");
        });
        $(".addParticipants").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写参会人员！");
        });
        $(".addWriteperson").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写会议通知撰写人！");
        });
        $(".addMadeperson").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写物料准备人！");
        });
        $(".addArrangeperson").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写会场布置调试人！");
        });
        $(".addMeetingVedio").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写会议摄影摄像！");
        });
        $(".addCleanPerson").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写会场整理人！");
        });
        $(".addRecordPerson").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写记录整理人！");
        });
        $(".addLedgerRePerson").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写台账整理人！");
        });
        //返回
        function backMeeting(){
            location.href='{:U(selectMeeting)}'
        }


    </script>
</block>