@charset "utf-8";
html{color:#666;background:#fff;}
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {
    margin:0;
    padding:0;
}
em,i,s{font-style:normal}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video {
    display: block;
}
audio,canvas,video {
    display: inline-block
}
h1,h2,h3,h4,h5,h6{font-weight: 400;font-size: 100%}
body,option {
    font:12px/1.5 "'Microsoft YaHei","微软雅黑",Arial,Helvetica,sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    word-wrap:break-word;
    word-break:break-all;
}
a {text-decoration: none;color:#666;}
*{outline: 0 none;}
textarea {resize: none;}
iframe,img {border:0;}
iframe{display:block;}
ul,ol {list-style:outside none;}
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}
table {border-collapse: collapse;border-spacing: 0;}
input::-ms-clear, input::-ms-reveal{
    display: none;
}
.clear:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow:hidden;
}
.clear {zoom: 1}
.com-width{width: 1190px; margin: 0 auto;}
.fl{_display:inline;float:left;}
.fr{_display:inline;float:right;}
.show{display: inline-block;}
.hide{display:none;}
.text-ar{text-align: right;}
.text-al {text-align: left;}