html,body{width:100%;height:100%;background:#fcfcfc;}
html{padding-top: 80px;_padding-top:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box; box-sizing: border-box;*overflow-y:hidden; *overflow-x:auto;}
/*  头部*/
.header{+position:relative;z-index:1;height:60px;margin-top:-100px;+margin-top:0;background: #F95657;}
.header-inner{position: relative;}
.header-hd{height:60px;overflow: hidden;}
.header-top-bar{padding:1px 0;text-align: right;font-size:0;}
.header-top-bar a{display: inline-block;padding:0 10px;font:14px/28px "microsoft yahei";color:#666;vertical-align:top;}
.header-top-bar a:hover{color:#666;}
.header-top-bar .line{display: inline-block;*display:inline;*zoom:1;width:2px;height:28px;background: #30529c url(../images/line.jpg) no-repeat;vertical-align:top;}
.logo{width:485px; margin-left: 30px;margin-top: 16px;height: 60px;line-height: 60px;}
.header-bd{height:34px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing: border-box;background:#fff;border-bottom: 1px solid #ededed;}
.location{height: 30px;line-height: 30px;color: #30519c;text-indent:10px;background: #fff;}
.login-main{height: 60px;line-height: 60px;}
.login-user{padding:0 20px;height: 60px;line-height: 60px;border-left: 1px solid #E45151;border-right: 1px solid #E45151;}
.login-main img{vertical-align: middle;}
.login-content a{padding: 0 20px; color: #fff; font-size: 14px;}
.login-user img{margin-top: 20px;}
.line{width: 1px;height: 80px;background-color: #E45151;}
.set {width:80px;text-align: center;}
.user-name{padding:0 5px;color: #fff;margin-left: 5px;}
.set img{cursor: pointer;}
/*主体 */
.wrap{margin:0 auto;height:100%;+height:expression(document.documentElement.offsetHeight-60+"px");border-width:0;border-style: solid;border-color: #d7d7d9;background: #fff;}
.wrap .content{height: 100%;margin-left:200px;_margin-left:-3px;padding-left:10px;background: #fff;}
.frame-wrap{height: 100%;padding-top:10px;margin-left: 10px;+height:expression(document.documentElement.offsetHeight-155+"px");-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing: border-box;}
#main-frame {width: 100%;height: 100%;overflow-y: auto;overflow-x: auto;position: relative;}
.inner-container{padding-right: 20px;}
/*侧边栏*/
.wrap .sidebar{_display: inline;float: left;width:200px;height: 100%;border-right:1px solid #d7d7d9;background:#2d3c55;overflow-x:hidden;overflow-y: auto;}
.sys-menu li{vertical-align: top;}
.sys-menu li h2{position:relative;height:50px;line-height:50px;padding:0 30px;background:#2d3c55;cursor: pointer;overflow: hidden;zoom:1;}
.sys-menu li h2:hover{background: #222d40;}
.sys-menu li h2:hover a{color: #F94A50;}
.sys-menu li h2 a{position:relative;display:inline;float:left;margin-left:4px;color:#6D7FAD;font:14px/50px "microsoft yahei";}
.tip{position:absolute;right:-8px;top:6px;width:8px;height:8px;vertical-align:top;background: #fc0030;background:url(../images/slice/ico-tips.png) no-repeat; background-position: 0 0;}
.sub-sys-menu{display:none;background: #2F405E;width: 170px;margin-left: 15px;}
.sub-sys-menu li a{display:block;position:relative;height:36px;padding-left:52px;color:#f2f7ff;font:13px/36px "microsoft yahei";overflow: hidden;}
.sub-sys-menu li a:hover{color: #f94a50;}
.sys-menu li .current a{color: #f94a50;}
.sub-sys-menu li span{position: relative;_display: inline;float:left;}
.sub-sys-menu li .tip{top:7px;right:-6px;width:6px;height: 6px;background-position: -8px 0;}
.sub-sys-menu .indicator{display:none;position:absolute;left:0;top:0;width:5px;height:100%;background: #1855b0;}
.sub-sys-menu li a:hover .indicator{display: block;}
.left-title{text-align: center;height: 150px;line-height: 200px;margin-top: 40px;margin-bottom: 10px}
/*  图标 */
.ico{display: inline-block;vertical-align: middle;_overflow: hidden;}
.ico-home{width:16px;height:16px;background-image:url(../images/slice/ico-home.png);}
.ico-user{width:14px;height:16px;background-image:url(../images/slice/ico-user.png);}
.ico-logout{width:14px;height:16px;background-image:url(../images/slice/ico-logout.png);}
.header .ico-home,.header .ico-user,.header .ico-logout{margin-right: 5px;line-height:28px;vertical-align: middle;}
.ico-arrow-collapse{width: 4px;height: 8px;background-image:url(../images/ico-arrow-left.png); background-repeat: no-repeat;}
.ico-arrow-extend{width: 8px;height: 4px;background-image:url(../images/ico-arrow-bottom.png); background-repeat: no-repeat}
.sys-menu .ico-arrow-extend{position: absolute;right:14px;;top:50%;margin-top:-2px;}
.sys-menu .ico-arrow-collapse{position: absolute;right:14px;;top:50%;margin-top:-4px;}
.ico-list{background-image:url(../images/slice/ico-list.png);}
.ico-search{background-image:url(../images/slice/ico-search.png);}
.ico-set{background-image:url(../images/slice/ico-set.png);}
.sys-menu .ico-index,.ico-pencil,.sys-menu .ico-set,.sys-menu .ico-list,.sys-menu .ico-search{_display:inline;float:left;margin-top: 17px;width:14px;height:14px;}
.sys-menu .ico-index,.ico-pencil{margin-right: 8px;}
/*左侧图标修改*/
.sys-menu li:nth-child(1) h2 i.ico-pencil{background: url(../images/index.png);}
.sys-menu li:nth-child(2) h2 i.ico-pencil{background: url(../images/proManage.png);}
.sys-menu li:nth-child(3) h2 i.ico-pencil{background: url(../images/proCount.png);}
.sys-menu li:nth-child(4) h2 i.ico-pencil{background: url(../images/systemManage.png);}
.sys-menu li:nth-child(5) h2 i.ico-pencil{background-position: -203px -35px;}
.sys-menu li:nth-child(6) h2 i.ico-pencil{background-position: -63px -35px;}
.sys-menu li:nth-child(7) h2 i.ico-pencil{background-position: -175px -35px;}
.sys-menu li:nth-child(8) h2 i.ico-pencil{background-position: -35px -35px;}
.sys-menu li:nth-child(9) h2 i.ico-pencil{background-position: -7px -35px;}
.error-message{color: red; margin-left: 20px;}
.container-padding{padding-top: 10px; min-width: 1095px;}
