
td.detail-l {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #ededed;
}
td.detail-r {
    text-align: left;
    padding-left: 20px;
}
.index-page {
	width: 100%;
	height: 100%;
	position: relative;
	
}
.meeting-content {
/*	width: 600px;
	height: 490px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -245px;
	margin-left: -300px;*/
	/*margin: 50px auto;*/
}
.inner-box {
	width: 28%;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	padding: 20px 10px;
}
.inner-box table td {
	font-size: 12px;
	padding: 5px 0;
	color: #fff;
}
.inner-box table td.td-title {
	width: 115px;
	font-size: 14px;
	padding-left: 30px;
	color: #fff;
	font-weight: 500;
	text-align: left;
}
.inner-box table td.title1 {
	font-size: 15px;
}
.meeting-prompt {
	height: 420px;
	background: #999999;
}
.create-amount {
	height: 100px;
	background: #0099FF;
}

.work-status {
	height: 100px;
	background: #66CC66;
}
.work-progress {
	height: 260px;
	background: #FFCC66;
}
.file-release {
	height: 100px;
	background: #00CCFF;
}
.ledger-release {
	height: 100px;
	background: #FF6666;
}