.meeting-plan td {
	height: 100px;
}
.haveMeeting {
	background: #CCFF99;
}
.meeting-plan td div {
	width: 100%;
	text-align: center;
	line-height: 16px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.meeting-plan td div span {
	width: 10px;
	height: 10px;
	margin-top: 4px;
	margin-right: 5px;
	float: left;
	background: blue;
}
.person-del {
	font-size: 16px;
	color: red;
	margin-left: 25px;
	cursor: pointer;
	margin-right: 25px;
}
.person-content {
	padding: 0 5px;
}
.hide-input {
	border: 1px solid #ededed;
	width: 80px;
	height: 26px;
}
.exportBtn {
	position: absolute;
	top: 1px; 
	right: 1px;
}
.rightBtn {
	position: absolute;
	top: 1px;
	right: 130px;
}