.jxssp {
	position: relative;
}

.common-prompt {
	width: 100px;
	line-height: 25px;
	height: 25px;
	padding: 0 10px;
	border: 1px solid #ededed;
	position: absolute;
	top: -26px;
	left: 400px;
	background: #fff;
	z-index: 1000;
}
.common-prompt img {
	vertical-align: middle;
}
.text-center {
	position: relative;
}
.notice-prompt {
	position: absolute;
	top: 86px;
	left: 672px;
}

.more-notice {
    float: right;
    margin-top: 20px;
}
td.detail-l {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #ededed;
}
td.detail-r {
    text-align: left;
    padding-left: 20px;
}