.jxssp {
	position: relative;
}

.common-prompt {
	width: 100px;
	line-height: 25px;
	height: 25px;
	padding: 0 10px;
	border: 1px solid #ededed;
	position: absolute;
	top: -26px;
	left: 400px;
	background: #fff;
	z-index: 1000;
}
.common-prompt img {
	vertical-align: middle;
}
.text-center {
	position: relative;
}
.notice-prompt {
	position: absolute;
	top: 86px;
	left: 672px;
}
