<extend name="Public:base"/>
<block name="title"><title>会谈会见台账详情</title></block>
<block name="right">
        <table class="tbl"><br><br>
            <caption>会谈基本信息</caption>
          
            <tr>
                <td class="cap">时间：</td>
                <td>
                      {$list.led_meeting_date}
                </td>
                <td class="cap">地点：</td>
                <td>
                     {$list.led_meeting_place}
                </td>
                 <td class="cap">会议名称：</td>
                <td>
                     {$list.led_meeting_name}
                </td>
            </tr> 
             <tr>
                <td class="cap">宾客：</td>
                <td>
                     {$list.led_meeting_guest}
                </td>
                <td class="cap">出席领导：</td>
                <td>
                     {$list.led_meeting_leader}
                </td>
                 <td class="cap">主持人：</td>
                <td>
                     {$list.led_meeting_host}
                </td>
            </tr>  
            <tr>
                <td class="cap">密级：</td>
                <td>
                    {$list.led_meeting_dense}
                </td>
                <td class="cap">着装：</td>
                <td>
                     {$list.led_meeting_cloth}
              </td>
                <td class="cap">保障人员：</td>
                <td>
                     {$list.led_meeting_person}
               </td>
            </tr>
             <tr>
                <td class="cap">保障时长：</td>
                <td colspan="5">
                     {$list.led_meeting_length}
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>报批</caption>
            
             <tr>
                 <td class="cap">议程责任人：</td>
                <td >
                   {$list.led_argenda_name}
                </td>
               <td class="cap">议程报批情况：</td>
                <td colspan="3">
                   {$list.led_argenda_status}
                </td>
            </tr>
        </table>
        <table class="tbl">
          <caption>通知</caption>           
             <tr>
                 <td class="cap">发布会议通知：</td>
                <td>
                    {$list.led_notice}
                </td>
                 <td class="cap">通知材料准备：</td>
                <td>
                    {$list.led_notice_ready}
                </td>
                 <td class="cap">通知服务单位保障：</td>
                <td>
                    {$list.led_notice_service}
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>文稿准备</caption>
             <tr>
                 <td class="cap">准备会议议程：</td>
                <td>
                    {$list.led_men_ready}
                </td>
                 <td class="cap">准备背景材料：</td>
                <td>
                    {$list.led_men_name}
                </td>
                 <td class="cap">准备来访人简历：</td>
                <td>
                    {$list.led_men_visiter}
                </td>
             </tr>
        </table>
         <table class="tbl">
             <caption>物资准备</caption>
              <tr>
                 <td class="cap">准备电脑：</td>
                <td>
                    {$list.led_mater_com}
                </td>
                 <td class="cap">准备录音笔：</td>
                <td>
                    {$list.led_mater_pen}
                </td>
                 <td class="cap">准备麦克风：</td>
                <td>
                    {$list.led_mater_phone}
                </td>
             </tr>
              <tr>
                 <td class="cap">准备宣传材料：</td>
                <td>
                    {$list.led_mater_propa}
                </td>
                 <td class="cap">礼品：</td>
                <td colspan="3">
                     {$list.led_gift_date}
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>物料</caption>           
            <tr>
                 <td class="cap">准备桌牌：</td>
                <td>
                    {$list.led_matter_card}
                </td>
                 <td class="cap">准备宣传片：</td>
                <td>
                    {$list.led_matter_trail} 
                </td>
                 <td class="cap">准备静帧画面：</td>
                <td>
                    {$list.led_matter_frame}
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>会场布置</caption>
             <tr>
                 <td class="cap">完成场地布置：</td>
                <td>
                    {$list.led_venue_layout}
                </td>
                 <td class="cap">测试话筒：</td>
                <td>
                    {$list.led_venue_test}
                </td>
                 <td class="cap">测试音频：</td>
                <td>
                    {$list.led_venue_audio}
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>接待保障</caption>           
             <tr>
                 <td class="cap">通知接待保障：</td>
                <td>
                    {$list.led_rece_guarantee}
                </td>
                 <td class="cap">接待责任人：</td>
                <td colspan="3">
                    {$list.led_rece_name}
                </td>            
             </tr>
        </table>
        <table class="tbl">
            <caption>现场保障</caption>
             <tr>
                 <td class="cap">保障人员：</td>
                <td>
                    {$list.led_scene_name}
                </td>
                 <td class="cap">传译人员：</td>
                <td>
                    {$list.led_scene_inter}
                </td>
                 <td class="cap">差错：</td>
                <td>
                    {$list.led_scene_error}
                </td>
                  <td class="cap">原因分析：</td>
                <td>
                    {$list.led_scene_fenxi}
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>会后文稿</caption>           
             <tr>
                 <td class="cap">拟定今日海航：</td>
                <td>
                    {$list.led_end_name}
                </td>
                 <td class="cap">拟定会谈纪要：</td>
                <td>
                    {$list.led_end_summary}
                </td>
                 <td class="cap">发布日期：</td>
                <td>
                     {$list.led_end_date}
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>材料存档</caption>
             <tr>
                 <td class="cap">责任人：</td>
                <td>
                    {$list.led_file_name}
                </td>
                 <td class="cap">交接单位：</td>
                <td>
                    {$list.led_file_danwei}
                </td>
                 <td class="cap">存档地址：</td>
                <td>
                    {$list.led_file_address}
                </td>
             </tr>
        </table>
         <table class="tbl">
             <caption>优化建议</caption>
             <tr>
               <td class="cap">改进建议：</td>
                <td colspan="5">
                {$list.led_meeting_proposal}
                </td>
            </tr>
        </table>
        <div class="wrap-btns">
                    <input type="button" value="返回" class="btn btn-xl button btn-normal" onclick="javascript:history.back(-1)">  
        </div>
</block>