<extend name="Public:base" />
<block name="title"><title>会议会见批量导入</title></block>
<block name="right">
    <form action="{:U(importLedgerMeeting)}" method='post' class="mt20" id="productManage" enctype="multipart/form-data">
        <table class="tbl">
            <colgroup>
                <col width="12%">
                <col width="21%">
                <col width="13%">
                <col width="21%">
                <col width="12%">
                <col width="21%">
            </colgroup>


            <tr>
                <td class="cap">上传附件：</td>
                <td colspan="1">
                    <input type="file" class="input-text text" name="filename">
                </td>
                
            </tr>
         
        </table>
        <div class="text-center">
            <input class="btn btn-red mr10 submit productSubmit" type="submit" value="提交"/>
            <input class="btn ml10 button btn-normal" type="reset" value="取消" onclick="javascript:history.back(-1)"/>
        </div>
    </form>

</block>