<extend name="Public:base" />
<block name="title"><title>会议会见批量导入</title></block>
<block name="right">
    <form action="{:U(importLedgerMeeting)}" method='post' class="mt20" id="productManage" enctype="multipart/form-data">
        <table class="tbl">
        <caption>导入会谈会见台账</caption>
            <tr>
                <td class="cap">上传附件：</td>
                <td colspan="1">
                    <input type="file" class="input-text text" name="filename">
                </td> 
            </tr>
        </table>
        <div class="wrap-btns">
            <input class="btn btn-red mr10 btn-submit productSubmit" type="submit" value="提交"/>
            <a href='{:U(index)}'><input class="btn ml10 button btn-normal" type="button" value="取消" /></a>
        </div>
    </form>
</block>