<extend name="Public:base"/>
<block name="title"><title>会谈会见列表</title></block>
<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
    <div class="role-padding container-padding">     
        <div class="filter-main clear">              
            <form method="post" action="{:U(index)}" id="execlid">
                <table class="tbl">
                <caption>查询条件</caption>
                    <tr>
                        <td class="cap">会谈名称:</td>
                        <td> <input class="input-text" type="text" name="led_meeting_name" id="led_meeting_name" value="{$param['led_meeting_name']}"></td>
                        <td class="cap">主持人：</td>
                        <td><input class="input-text" type="text" name="led_meeting_host" id="led_meeting_host" value="{$param['led_meeting_host']}"></td>
                        <td class="cap">时间：</td>
                         <td><input type="text" name='led_meeting_date' id="date8" value="{$param['led_meeting_date']}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl" ></td>                 
                         </tr> 
                         <tr>
                             <td colspan="6">
                             <div class="wrap-btns">
                                  <input class="btn btn-a btn-xl button" type="submit" value="查询"/>
                                 <a href="javascript:;" onclick="obtain()" class="btn btn-c btn-xl button mr30" title="导出">导出</a>
                           <a class="btn btn-c btn-xl button" title="导入" href="{:U('importLedgerMeeting')}">导入</a>
                             </div>
                                
                             </td>
                         </tr>
                     <input type="hidden" id="hiddenform" name="hiddenform">  
                </table>
            </form>
             <table class="tbl tbl-list">
             <caption>会谈会见台账列表</caption>
	            <colgroup>
                            <col width="9%">
                            <col width="13%">
                            <col width="11%">
                            <col width="11%">
                            <col width="25%">
                            <col width="38%">
	            </colgroup>
	            <thead>
	            <tr>
                                <th>序号</th>
                                <th>会谈名称</th>
                                <th>时间</th>
                                <th>主持人</th>
                                <th>会议地点</th>              
                                <th>操作</th>
                            </tr>
	            </thead>	        
	        <tbody>	
           
                    <foreach name="list" item="item" key="k">
	        	<tr>
                                <td>{$k+1}</td>
                                <td>{$item.led_meeting_name}</td>
                                <td>{$item.led_meeting_date}</td>
                                <td>{$item.led_meeting_host}</td>
                                <td>{$item.led_meeting_place}</td> 
                                <td>
                                    <a class="btn btn-r btn-xl button" href="{:U('detailsLedger',array('led_meeting_id'=>$item['led_meeting_id']))}">详情</a> 
                                    <a class="btn btn-r btn-xl button" href="{:U('saveLedger',array('led_meeting_id'=>$item['led_meeting_id']))}">编辑</a> 
                                    <input type="button" value="删除" class="btn btn-r btn-xl button" onclick="withdraw('{$item.led_meeting_id}')">
                                </td>
	        	</tr>
                    </foreach>
	        </tbody>
	        </table>
                </div>
            <div class="pagination fr">
                {$page}
            </div>
        </div> 
    
     <script>
         //导出
           function obtain(){
               $("#hiddenform").val(1);
               $("#execlid").submit();
               $("#hiddenform").val(0);
        }
         //创建
        var rightBtn = '<input class="btn btn-red mr10 submit fr" type="button" onclick="openNew()" value="会谈会见台账创建"/>';
         $(rightBtn).appendTo(".location");
         function openNew(){
             location.href = "{:U('addLedger')}";
         }
         //删除操作
        function withdraw(id) {
            $.dialog({
                title: '提示信息', content: '确认删除吗？', ok: function () {
                    location.href = "delLedger/led_meeting_id/" + id;
                },
                cancel: function () {
                }
            });
        }
        </script>
</block>

