<extend name="Public:base"/>
<block name="title"><title>会谈会见台账创建</title></block>
<block name="right">
       <form action="{:U(saveLedger)}" method='post' enctype= "multipart/form-data" class="mt20" id="productManage">
        <table class="tbl">
            <caption>会谈基本信息</caption>
                 <input type="hidden" name='led_meeting_id' value="{$list.led_meeting_id}">
            <tr>
                <td class="cap">时间：</td>
                <td>
                      <input type="text"  value="{$list.led_meeting_date}"name='led_meeting_date'  id="date2" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                <td class="cap">地点：</td>
                <td>
                     <input type="text" name='led_meeting_place' value='{$list.led_meeting_place}' class="input-text text">
                </td>
                 <td class="cap">会议名称：</td>
                <td>
                     <input type="text" name='led_meeting_name' value='{$list.led_meeting_name}' class="input-text text">
                </td>
            </tr> 
             <tr>
                <td class="cap">宾客：</td>
                <td>
                     <input type="text" name='led_meeting_guest' value='{$list.led_meeting_guest}' class="input-text text">
                </td>
                <td class="cap">出席领导：</td>
                <td>
                     <input type="text"  name='led_meeting_leader' value='{$list.led_meeting_leader}' class="input-text text">
                </td>
                 <td class="cap">主持人：</td>
                <td>
                     <input type="text" name='led_meeting_host' value='{$list.led_meeting_host}' class="input-text text">
                </td>
            </tr>  
            <tr>
                <td class="cap">密级：</td>
                <td>
                    <select name='led_meeting_dense'>
                            <option <if condition="$list['led_meeting_dense'] eq '普通' ">selected</if> value="普通">普通</option>
                            <option <if condition="$list['led_meeting_dense'] eq '秘密' ">selected</if> value="秘密">秘密</option>
                            <option <if condition="$list['led_meeting_dense'] eq '机密' ">selected</if> value="机密">机密</option>
                            <option <if condition="$list['led_meeting_dense'] eq '绝密' ">selected</if> value="绝密">绝密</option>
                            
                    </select>
                </td>
                <td class="cap">着装：</td>
                <td>
                     <input type="text" name='led_meeting_cloth' value='{$list.led_meeting_cloth}' class="input-text text">
              </td>
                <td class="cap">保障人员：</td>
                <td>
                     <input type="text" name='led_meeting_person' value='{$list.led_meeting_person}' class="input-text text">
               </td>
            </tr>
             <tr>
                <td class="cap">保障时长：</td>
                <td colspan="5">
                     <input type="text" name='led_meeting_length' value='{$list.led_meeting_length}' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>报批</caption>
            
             <tr>
                 <td class="cap">议程责任人：</td>
                <td >
                   <input type="text" name='led_argenda_name' value='{$list.led_argenda_name}' class="input-text text">
                </td>
               <td class="cap">议程报批情况：</td>
                <td>
                   <input type="text" name='led_argenda_status'  value='{$list.led_argenda_status}' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
          <caption>通知</caption>           
             <tr>
                 <td class="cap">发布会议通知：</td>
                <td>
                    <input type="text" name='led_notice' value='{$list.led_notice}' class="input-text text">
                </td>
                 <td class="cap">通知材料准备：</td>
                <td>
                    <input type="text" name='led_notice_ready' value='{$list.led_notice_ready}' class="input-text text">
                </td>
                 <td class="cap">通知服务单位保障：</td>
                <td>
                    <input type="text" name='led_notice_service'  value='{$list.led_notice_service}' class="input-text text">
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>文稿准备</caption>
             <tr>
                 <td class="cap">准备会议议程：</td>
                <td>
                    <input type="text" name='led_men_ready' value='{$list.led_men_ready}' class="input-text text">
                </td>
                 <td class="cap">准备背景材料：</td>
                <td>
                    <input type="text" name='led_men_name' value='{$list.led_men_name}' class="input-text text" placeholder="预定人姓名">
                </td>
                 <td class="cap">准备来访人简历：</td>
                <td>
                    <input type="text" name='led_men_visiter' value='{$list.led_men_visiter}' class="input-text text" placeholder="预定人姓名">
                </td>
             </tr>
        </table>
         <table class="tbl">
             <caption>物资准备</caption>
              <tr>
                 <td class="cap">准备电脑：</td>
                <td>
                    <input type="text" name='led_mater_com'  value='{$list.led_mater_com}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">准备录音笔：</td>
                <td>
                    <input type="text" name='led_mater_pen' value='{$list.led_mater_pen}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">准备麦克风：</td>
                <td>
                    <input type="text"  name='led_mater_phone' value='{$list.led_mater_phone}' class="input-text text" placeholder="责任人">
                </td>
             </tr>
              <tr>
                 <td class="cap">准备宣传材料：</td>
                <td>
                    <input type="text" name='led_mater_propa' value='{$list.led_mater_propa}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">礼品：</td>
                <td>
                     <input type="text" name='led_gift_date' value='{$list.led_gift_date}'  id="date3"  onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>物料</caption>           
            <tr>
                 <td class="cap">准备桌牌：</td>
                <td>
                    <input type="text" name='led_matter_card' value='{$list.led_matter_card}' class="input-text text"  placeholder="责任人">
                </td>
                 <td class="cap">准备宣传片：</td>
                <td>
                    <input type="text" name='led_matter_trail' value='{$list.led_matter_trail}' class="input-text text"  placeholder="责任人"> 
                </td>
                 <td class="cap">准备静帧画面：</td>
                <td>
                    <input type="text" name='led_matter_frame' value='{$list.led_matter_frame}' class="input-text text"  placeholder="责任人">
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>会场布置</caption>
             <tr>
                 <td class="cap">完成场地布置：</td>
                <td>
                    <input type="text" name='led_venue_layout' value='{$list.led_venue_layout}' class="input-text text"  placeholder="责任人">
                </td>
                 <td class="cap">测试话筒：</td>
                <td>
                    <input type="text" name='led_venue_test'  value='{$list.led_venue_test}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">测试音频：</td>
                <td>
                    <input type="text"  name='led_venue_audio' value='{$list.led_venue_audio}' class="input-text text" placeholder="责任人">
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>接待保障</caption>           
             <tr>
                 <td class="cap">通知接待保障：</td>
                <td>
                    <input type="text" name='led_rece_guarantee' value='{$list.led_rece_guarantee}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">接待责任人：</td>
                <td>
                    <input type="text" name='led_rece_name' value='{$list.led_rece_name}' class="input-text text" placeholder="责任人">
                </td>            
             </tr>
        </table>
        <table class="tbl">
            <caption>现场保障</caption>
             <tr>
                 <td class="cap">保障人员：</td>
                <td>
                    <input type="text" name='led_scene_name' value='{$list.led_scene_name}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">传译人员：</td>
                <td>
                    <input type="text" name='led_scene_inter' value='{$list.led_scene_inter}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">差错：</td>
                <td>
                    <input type="text" name='led_scene_error' value='{$list.led_scene_error}' class="input-text text">
                </td>
                  <td class="cap">原因分析：</td>
                <td>
                    <input type="text" name='led_scene_fenxi' value='{$list.led_scene_fenxi}' class="input-text text">
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>会后文稿</caption>           
             <tr>
                 <td class="cap">拟定今日海航：</td>
                <td>
                    <input type="text" name='led_end_name' value='{$list.led_end_name}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">拟定会谈纪要：</td>
                <td>
                    <input type="text" name='led_end_summary' value='{$list.led_end_summary}' class="input-text text">
                </td>
                 <td class="cap">发布日期：</td>
                <td>
                     <input type="text" name='led_end_date' value='{$list.led_end_date}'  id="date1" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>材料存档</caption>
             <tr>
                 <td class="cap">责任人：</td>
                <td>
                    <input type="text" name='led_file_name'  value='{$list.led_file_name}' class="input-text text" placeholder="责任人">
                </td>
                 <td class="cap">交接单位：</td>
                <td>
                    <input type="text" name='led_file_danwei'  value='{$list.led_file_danwei}' class="input-text text">
                </td>
                 <td class="cap">存档地址：</td>
                <td>
                    <input type="text" name='led_file_address'  value='{$list.led_file_address}' class="input-text text">
                </td>
             </tr>
        </table>
         <table class="tbl">
             <caption>优化建议</caption>
             <tr>
               <td class="cap">改进建议：</td>
                <td>
                 <textarea class="textarea" name="led_meeting_proposal">{$list.led_meeting_proposal}</textarea>
                </td>
            </tr>
        </table>
       <div class="text-center">

	      <input class="btn btn-red mr10 submit productSubmit" type="submit" value="保存"/>
	      <input class="btn ml10 button btn-normal" type="reset" value="取消"/>
    	</div>
    </form>
</block>
