<extend name="Public:base"/>

<block name="title"><title>系统消息添加</title></block>
<block name="right">
    <css href="__PUBLIC__/css/messageManage.css"/>
    <div class="container-padding">
        <div class="jxssp tb1">
            <form id="addmsg" enctype="multipart/form-data">
                <table class="tbl form-table">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="20%">
                        <col width="30%">
                    </colgroup>
            
                    <tr>
                        <td class="cap"><span class="rq">*</span>公告标题：</td>
                        <td colspan="3"><input class="notice-title input-text text" type="text" name="msg_sys_title"></td>
                    </tr>
                    <tr>
                        <td class="cap"><span class="rq">*</span>开始时间：</td>
                        <td> <input id="date11" class="start-time input-text text" name="msg_sys_starttime" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00', dateFmt: 'yyyy-MM-dd', alwaysUseStartDate: true, maxDate: $('#date12').val()})"></td>
                        <td class="cap"><span class="rq">*</span>结束时间：</td>
                        <td><input id="date12" class="end-time input-text text" name="msg_sys_endtime" onfocus="WdatePicker({startDate: '%y-%M-%d 23:59:59', dateFmt: 'yyyy-MM-dd', minDate: $('#date11').val()})"></td>
                    </tr>
                    <tr>
                        <td class="right role-n"><span class="rq">*</span>公告内容:</td>
                        <td colspan="3">
                            <script id="CONTENT" type="text/plain"></script>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="wrap-btns">
                            <div class="common-prompt save-success hide">
                                <img src="__PUBLIC__/images/iconfont_sure.png" alt=""/>
                                <span></span>
                            </div>
                                <input class="btn btn-c mr10 btn-submit" id='add-btn' type="button" value="保存"/>
                                <input class="btn ml10 button btn-normal" type="button" value="取消" onclick="javascript:history.back(-1)"/>
                            </div>
                        </td>                   
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <js href="__PUBLIC__/Js/messageManage.js"/>
    <script>
	UE.getEditor('CONTENT', {
	    initialFrameWidth: "100%",
	    initialFrameHeight: "200",
	    textarea: 'content'
	});
    </script>

</block>