<extend name="Public:base" />
<block name="title"><title>海航督办管理系统</title></block>
<block name="right">
    <css href="__PUBLIC__/css/messageManage.css"/>
    <div class="role-padding container-padding" style="padding-top: 40px;">
        <div class="jxssp tb1">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="80%">
                </colgroup>
                <tr>
                    <td class="detail-l">消息标题</td>
                    <td class="detail-r">{$info['msg_sys_title']}</td>
                </tr>
                <tr>
                    <td class="detail-l">消息有效时间</td>
                    <td class="detail-r">{$info['msg_sys_starttime']}至{$info['msg_sys_endtime']}</td>
                </tr>
                <tr>
                    <td class="detail-l">消息内容</td>
                    <td class="detail-r">{$info['msg_sys_content']}</td>
                </tr>
                <tr>
                    <td class="detail-l">消息发布时间</td>
                    <td class="detail-r">{$info['msg_sys_creattime']}</td>
                </tr>
            </table>
        </div>
    </div>
</block>
