<extend name="Public:base" />
<block name="title"><title>会议创建</title></block>
<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
    <form action="{:U(add)}" method='post' class="mt20" id="productManage">
        <table class="tbl">
          <colgroup>
                <col width="12%">
                <col width="21%">
                <col width="13%">
                <col width="21%">
                <col width="12%">
                <col width="21%">
            </colgroup>
            
       
            <tr>
                <td class="cap">工作单名称：</td>
                <td colspan="1">
                   <input type="text" class="input-text text" name="workname">
                </td>
                <td class="cap">关联会议：</td>
                <td>
                   <select name="association">
                       <option value="0">选择会议</option>
                        <foreach name="meeting" item="item">
                            <option value="{$item['meeting_id']}">{$item['meeting_name']}</option>
                        </foreach>
                   </select>
                </td>
            </tr>
            <tr>
                
               <td class="cap">开始时间：</td>
                <td>
                    <input type="text" name='start_time' id="date3" value="{$start_time}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                <td class="cap">结束时间：</td>
                <td>
                    <input type="text" name='stop_time' id="date3" value="{$start_time}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
            </tr>
            <tr>
                 <td class="cap">工作单负责人：</td>
                <td colspan="3">
                     <select name="personliable" class="selectItem">
                        <option value="-100">其他</option>
                        <option value="1">李</option>
                        <option value="2">张</option>
                    </select>
                    <input type="button" class="btn btn-r btn-xl button addPrincipal" value="添加">
                    <input type="text" class="hide hide-input" >
                    <div class="person-content clear"></div>
                </td>
            </tr>
            <tr>
                <td class="cap">工作单描述：</td>
                <td colspan="3">
                    <textarea class="textarea" name="worksheet_describe"></textarea>
                </td>
            </tr>
        </table>
        <div class="text-center">
	        <input class="btn btn-red mr10 submit productSubmit" type="submit" value="提交"/>
	        <input class="btn ml10 button btn-normal" type="reset" value="取消"/>
    	</div>
    </form>
    <script type="text/javascript">
         $(".selectItem").each(function () {
            if ($(this).val() == "-100") {
                $(this).siblings(".hide-input").show();
            } else {
                $(this).siblings(".hide-input").hide();
            }
        })

        $(".selectItem").on("change", function () {
            if ($(this).val() == "-100") {
                $(this).siblings(".hide-input").show();
            } else {
                $(this).siblings(".hide-input").hide();
            }
        });
        function getHtml(text, uid, selectName) {
            var html = "";
            html += '<div class="person fl">';
            html += '<input type="hidden" name=' + selectName + ' value="' + uid + '">';
            html += '<span>' + text + '</span>';
            html += '<i class="person-del">X</i>';
            html += '</div>';
            return html;
        }
        function addPerson(_this, message) {
            var val = _this.prev("select").children("option:selected").val();
            if (val == "-100") {
                if ($.trim(_this.siblings(".hide-input").val()) == "") {
                    $.dialog.alert(message);
                    return false;
                } else {
                    var inputVal = _this.siblings(".hide-input").val();
                    var len = $(".person").length;
                    for (i = 0; i < len; i++) {
                        if (_this.siblings(".person-content").find(".person").eq(i).children("span").text() == inputVal) {
                            return;
                        }
                    }
                    var uid = _this.prev("select").children("option:selected").val();
                    var seleName = _this.prev("select").attr('data');
                    $(getHtml(inputVal, uid, seleName)).appendTo(_this.siblings(".person-content"));
                }

            } else {
                var text = _this.prev("select").children("option:selected").text();
                var uid = _this.prev("select").children("option:selected").val();
                var seleName = _this.prev("select").attr('data');
                var len = $(".person").length;
                for (i = 0; i < len; i++) {
                    if (_this.siblings(".person-content").find(".person").eq(i).children("span").text() == text) {
                        return;
                    }
                }
                $(getHtml(text, uid, seleName)).appendTo(_this.siblings(".person-content"));
            }

            $(".person-del").on("click", function () {
                $(this).parent().remove();
            });
        }
        $(".person-del").on("click", function () {
            $(this).parent().remove();
        });
        $(".addPrincipal").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写工作单负责人！");
        });
    </script>
</block>