<extend name="Public:base" />
<block name="title"><title>工作单列表</title></block>

<block name="right">

<div class="container-padding">
 	<form method="post" action="{:U(WorkOrder/index)}" name="queryOrder-form" class="login-form" id="execlid">
	    <table class="tbl">
                <caption>查询条件</caption>
                <tr><td class="cap">关联会议名称：</td>
                    <td><input class="input-text text" name="meeting_name" value="{$param['meeting_name']}" type="text" id="meeting_name"/></td>
                    <td class="cap">工作单名称：</td>
                    <td><input class="input-text text" name="worksheet_name" value="{$param['worksheet_name']}" type="text" id="worksheet_name" placeholder="关键字"/></td> 
                    </tr>
                    <tr>
                     <td class="cap">责任人：</td>
                    <td><input class="input-text text" name="name" value="{$param['name']}" id="worksheet_rule_person" type="text"/></td>
                    <td class="cap">会议时间：</td>
                    <td><input type="text" name='worksheet_start_date' id="date8" value="{$param['worksheet_start_date']}" id="worksheet_start_date" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl"></td>
                    <td><input type="submit" value="查询" id="btn_query" class="btn btn-a submit"/></td>
                    <input type="hidden" id="hiddenform" name="hiddenform">
                </tr>
	    </table>
	    </form>
	    <div class="tb1 jxssp">
	        <table class="tbl tbl-list">
	            <caption>工作单列表 
                        <a class="tb-detail f-fr mr30" title="创建工作单" href="{:U('WorkOrder/add')}">
                                    <input type="button" class="btn btn-c btn-xl button" value="创建工作单">
                                </a> <a class="tb-detail f-fr mr30" title="工作单导出">
                                    <input type="button" value="工作单导出" id="btn_query" class="btn btn-a submit" onclick="obtain()" />
                                </a>
                    </caption>
	            <colgroup>
	                <col width="10%">
	                <col width="10%">
	                <col width="10%">
	                <col width="10%">
	                <col width="10%">
                        <col width="5%">
	                <col width="8%">
                        <col width="22%">
	            </colgroup>
	            <thead>
	            <tr>
	                <th>工作单名称</th>
	                <th>关联会议</th>
	                <th>责任人</th>
                        <th>开始时间</th>
	                <th>最后时间</th>
	                <th>状态</th>
                        <th>进度</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	        <tbody>	
                    <foreach name="list" item="item">
	        	<tr>
                            <td>{$item.worksheet_name}</td>
                            <td>{$item.meeting_name}</td>
                            <td>{$item.name}</td>
                            <td>{$item.worksheet_start_date|substr=0,10}</td>
                            <td>{$item.worksheet_end_date|substr=0,10}</td>      
                            <td>{$item.worksheet_state}</td>
                            <td>{$item.worksheet_done_persent}</td>
                            <td>
                                <a class="" title="查看" href="{:U('WorkOrder/details',array('id'=>$item['worksheet_id']))}">
                                    <input type="button" class="btn btn-c btn-xl button" value="查看">
                                </a>
                                <a class="" title="编辑" href="{:U('WorkOrder/save',array('id'=>$item['worksheet_id']))}">
                                    <input type="button" class="btn btn-c btn-xl button" value="编辑">
                                </a>
                                <a class="" title="督办" href="{:U('WorkOrder/sendEmail',array('id'=>$item['worksheet_id']))}">
                                    <input type="button" class="btn btn-c btn-xl button" value="督办" id="pushemail">
                                </a>
                            </td>
	        	</tr> 
                    </foreach>
	        </tbody>
	        </table>
	            <div class="pagination fr">
	                {$page}

	            </div>

	        </div>
	    </div>	  
	    <script type="text/javascript">
	    	
                /*
                 * 导出execl获取条件
                 */
                function obtain(){
                    $("#hiddenform").val(1);
                    $("#execlid").submit();
                    $("#hiddenform").val(0);
                }
                $("pushemail").click(function(){
                    $.get("sendEmail",function(data){
                        alert("Data: " + data + "\nStatus: ");
                     });
                });
                function delMeeting(id){
         
            $.dialog({
                title: '提示信息', content: '确认删除吗？', ok: function () {
                location.href = '{:U("/Manage/Meeting/delMeeting/meeting_id/' + id + '")}';
                },
                        cancel: function () {
                        }
                });
        

        }
	    </script> 
</block>