<extend name="Public:base" />
<block name="title"><title>工作单编辑</title></block>
<block name="right">
    <form action="{:U(save)}" method='post' class="mt20" id="productManage"  onsubmit="return check()">
        <table class="tbl">
        <caption>工作单编辑</caption>
        <colgroup>
            <col width="15%">
            <col width="35%">
            <col width="15%">
            <col width="35%">
        </colgroup>
            <tr>
                <td class="cap">工作单名称：</td>
                <td>
                   <input type="text" class="input-text text" readonly="true" name="workname" value="{$workorder['worksheet_name']}">
                </td>
                
                  
                    
                   
                
               <td class="cap">工作单负责人：</td>
                <td>
            <if condition="$state neq '100'">
                <span name="worksheet_rule_person" >{$workorder['worksheet_rule_name']}</span>
                <else/> 
                <select  class="selectItem" data="worksheet_rule_person">
                    
                    <foreach name="user" item="item">
                        <option value="{$item.uid}">{$item.name}</option>
                    </foreach>
                </select>
                <input type="button" class="btn btn-r btn-xl button addPrincipal" value="添加">


                <div class="person-content clear">

                    <foreach name="workorder.username" key="key" item="item">
                        <div class="person fl"><input type="hidden" name="worksheet_rule_person[]" value="{$key}"><span>{$item}</span><i class="person-del" style="color:red;font-size:16px;">X</i></div>
                    </foreach>

                </div>
            </if>

        </td>

            </tr>  
             <tr>  
                 <td class="cap">工作完成比率：</td>
                <td>
                   <input type="text" id="bili"  class="input-text text" name="worksheet_done_persent" value="{$workorder['worksheet_done_persent']}">(百分比形式填写如：20%)
                </td>
                <td class="cap">工作状态调整：</td>
                <td> 
                    <select name="worksheet_state" 
                            
                            <if condition="$workorder.worksheet_state eq 未启动">disabled=true</if>
                        
                        
                        
                        >
                        <option value="0">请选择</option>
                        <if condition="$workorder.worksheet_state_id eq 4">
                            <option value="挂起" selected>挂起</option>
                            <else/>
                        <option value="挂起">挂起</option>
                        </if>
                      
                        <if condition="$workorder.worksheet_state eq 废弃" >
                            <option value="废弃" selected>废弃</option>
                            <else/>
                            <option value="废弃">废弃</option>
                        </if>
                        
                        <option value="1">撤销挂起</option>
                        <option value="2">撤销废弃</option>
                   </select>
                </td>
            </tr>
            <tr>

                <td class="cap">挂起/废弃原因</td>
                <td colspan="3"><textarea class="textarea" name="worksheet_abandoned_reason">{$workorder.worksheet_abandoned_reason}</textarea></td>
            </tr>
            <input type="hidden" value="{$workorder['worksheet_id']}" name="worksheet_id">
        </table>

        <div class="wrap-btns">
            <input class="btn btn-red mr10 btn-submit productSubmit" type="submit" value="提交" id="workorderSub"/>

            <input class="btn ml10 button btn-normal" type="button" onclick="javascript:history.go(-1)" value="取消" />

        </div>
    </form>

<script type="text/javascript">
         $(".selectItem").each(function () {
            if ($(this).val() == "-100") {
                $(this).siblings(".hide-input").show();
            } else {
                $(this).siblings(".hide-input").hide();
            }
        })
 
        $(".selectItem").on("change", function () {
            if ($(this).val() == "-100") {
                $(this).siblings(".hide-input").show();
            } else {
                $(this).siblings(".hide-input").hide();
            }
        });
        function getHtml(text, uid, selectName) {
            
                  var html = "";
            if (uid == '-100') {
                selectName = selectName + '[value][]';
                uid = text;
            } else {
                selectName = selectName + '[]';

            }
            html += '<div class="person fl">';
            html += '<input type="hidden" name=' + selectName + ' value="' + uid + '">';
            html += '<span>' + text + '</span>';
            html += '<i class="person-del" style="color:red;font-size:16px;">&nbsp;&nbsp;X&nbsp;&nbsp;</i>';
            html += '</div>';
            return html;
        }
        function addPerson(_this, message) {
            var val = _this.prev("select").children("option:selected").val();
            if (val == "-100") {
                if ($.trim(_this.siblings(".hide-input").val()) == "") {
                    $.dialog.alert(message);
                    return false;
                } else {
                    var inputVal = _this.siblings(".hide-input").val();
                    var len = $(".person").length;
                    for (i = 0; i < len; i++) {
                        if (_this.siblings(".person-content").find(".person").eq(i).children("span").text() == inputVal) {
                            return;
                        }
                    }
                    var uid = _this.prev("select").children("option:selected").val();
                    var seleName = _this.prev("select").attr('data');
                    $(getHtml(inputVal, uid, seleName)).appendTo(_this.siblings(".person-content"));
                }
 
            } else {
                var text = _this.prev("select").children("option:selected").text();
                var uid = _this.prev("select").children("option:selected").val();
                var seleName = _this.prev("select").attr('data');
                var len = $(".person").length;
                for (i = 0; i < len; i++) {
                    if (_this.siblings(".person-content").find(".person").eq(i).children("span").text() == text) {
                        return;
                    }
                }
                $(getHtml(text, uid, seleName)).appendTo(_this.siblings(".person-content"));
            }
 
            $(".person-del").on("click", function () {
                $(this).parent().remove();
            });
        }
        $(".person-del").on("click", function () {
            $(this).parent().remove();
        });
        $(".addPrincipal").on("click", function () {
            var _this = $(this);
            addPerson(_this, "请填写工作单负责人！");
        });
        
     
           
        $("#workorderSub").on("click", function () {
            var len = $("#bili").val().length;
            if (len > 4) {
                $.dialog.alert("工作完成比率不合法！");
                return false;
            }
        });
        
    </script>
</block>
