<extend name="Public:base"/>
<block name="title"><title>文稿台账创建</title></block>

<block name="right">
    <form action="{:U(addPresent)}" method='post' enctype= "multipart/form-data" class="mt20" id="productManage">
        <table class="tbl">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
        <caption>文稿台账创建</caption>
             <tr>
                 <td class="cap">文档规范名称：</td>
                <td >
                   <input type="text" name='db_pre_name'  class="input-text text">
                </td>
               <td class="cap">工作来源：</td>
                <td colspan="5">
                   <input type="text" name='db_pre_work' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
            <caption>交办</caption>
          
            <tr>
                <td class="cap">交办人：</td>
                <td >
                      <input type="text" name='db_assign_name' class="input-text text">
                </td>
                <td class="cap">部门：</td>
                <td > 
                     <input type="text" name='db_assign_dapart' class="input-text text">
                </td>
                 <td class="cap">职务：</td>
                <td colspan='3'>
                     <input type="text" name='db_assign_post' class="input-text text">
                </td>
            </tr> 
             <tr>
                <td class="cap">交办日期：</td>
                <td>
                     <input type="text" name='db_assign_date' id="date2" value="{$start_time}" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                <td class="cap">交办时间：</td>
                <td>
                     <input type="text" name='db_assign_time' class="input-text text" id="date1" value="{$start_time}"  onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">完成日期：</td>
                <td>
                     <input type="text" name='db_complete_date' id="date21" value="{$start_time}" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">完成时间：</td>
                <td>
                   <input type="text" name='db_complete_time' id='date3' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl">
                </td>
            </tr>  
            <tr>
                <td class="cap">文稿类型：</td>
                <td>
                   <select name='db_pre_type'>
                        <foreach item='item' name='pre_type'>
                                 <option value="{$item.config_value}">{$item.config_descripion}</option>
                        </foreach>
                   </select>
                </td>
                <td class="cap">文稿形式：</td>
                <td>
                      <select name='db_pre_form'>
                           <foreach item='item' name='pre_form'>
                                 <option value="{$item.config_value}">{$item.config_descripion}</option>
                           </foreach>
                    </select>
              </td>
                <td class="cap">优先级：</td>
                <td colspan='3'>
                     <select name='db_pre_first'>
                            <foreach item='item' name='pre_level'>
                                 <option value="{$item.config_value}">{$item.config_descripion}</option>
                           </foreach>      
                    </select>
               </td>
            </tr>
            <tr>
                <td class="cap">工作难度：</td>
                <td >
                      <select name='db_pre_diff'>
                            <option value="难">难</option>
                            <option value="中">中</option>
                            <option value="易">易</option>                          
                    </select>
                </td>
                <td class="cap">责任人：</td>
                <td>
                      <select name='db_pre_person'>
                            <foreach item='item' name='user_name'>
                                 <option value="{$item.uid}">{$item.name}</option>
                           </foreach>
                    </select>
                </td>
                <td class="cap">工作状态：</td>
                <td colspan='3'>
                      <select name='db_pre_status'>
                            <foreach item='item' name='work_status'>
                                 <option value="{$item.config_value}">{$item.config_descripion}</option>
                            </foreach>
                    </select>
                </td>
            </tr>
        </table>
        <table class="tbl">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
            <caption>拟稿</caption>
             <tr>
                 <td class="cap">拟稿人：</td>
                <td >
                    <select name='db_draft_person'>
                             <foreach item='item' name='user_name'>
                                 <option value="{$item.uid}">{$item.name}</option>
                           </foreach>          
                    </select>
                </td>
               <td class="cap">完成日期：</td>
                <td>
                   <input type="text" name='db_draft_date' id="date4" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">完成时间：</td>
                <td>
                   <input type="text" name='db_draft_time'  id='date5' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">拟稿时长：</td>
                <td>
                   <input type="text" name='db_draft_length' class="input-text text">
                </td>
                
            </tr>
            <tr>
                <td class="cap">拟稿字数：</td>
                <td colspan="7">
                   <input type="text" name='db_draft_num' class="input-text text">
                </td>
            </tr>
        </table>
        <table class="tbl">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
          <caption>核稿</caption>           
             <tr>
                 <td class="cap">核稿人：</td>
                <td >
                    <select name='db_orgin_person'>
                            <foreach item='item' name='user_name'>
                                 <option value="{$item.uid}">{$item.name}</option>
                           </foreach>
                    </select>
                </td>
               <td class="cap">完成日期：</td>
                <td>
                   <input type="text" name='db_orgin_date' id="date6" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">完成时间：</td>
                <td>
                   <input type="text" name='db_orgin_time'  id='date7' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">核稿时长：</td>
                <td>
                   <input type="text" name='db_orgin_length' class="input-text text">
                </td>
             </tr>
             <tr>
                 <td class="cap">核稿字数：</td>
                <td>
                   <input type="text" name='db_orgin_num' class="input-text text">
                </td>
                 <td class="cap">修改字数：</td>
                <td>
                   <input type="text" name='db_update_num' class="input-text text">
                </td>
                 <td class="cap">核稿评价：</td>
                <td colspan='3'>
                    <select name='db_orgin_eval'>
                            <option value=优>优</option>
                            <option value="中">中</option>
                            <option value="差">差</option>    
                      </select>
                 </td>
             </tr>
        </table>   
         <table class="tbl">
         <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
          <caption>核稿2</caption>           
             <tr>
                 <td class="cap">核稿人：</td>
                <td >
                    <select name='db_orgin2_person'>
                           <foreach item='item' name='user_name'>
                                 <option value="{$item.uid}">{$item.name}</option>
                           </foreach>
                    </select>
                </td>
               <td class="cap">完成日期：</td>
                <td>
                   <input type="text" name='db_orgin2_date' id="date8" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">完成时间：</td>
                <td>
                   <input type="text" name='db_orgin2_time'  id='date9' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">核稿时长：</td>
                <td>
                   <input type="text" name='db_orgin2_length' class="input-text text">
                </td>
             </tr>
             <tr>
                 <td class="cap">核稿字数：</td>
                <td>
                   <input type="text" name='db_orgin2_num' class="input-text text">
                </td>
                 <td class="cap">修改字数：</td>
                <td>
                   <input type="text" name='db_update2_num' class="input-text text">
                </td>
                 <td class="cap">核稿评价：</td>
                <td colspan='3'>
                <select name='db_orgin2_eval'>
                            <option value=优>优</option>
                            <option value="中">中</option>
                            <option value="差">差</option>    
                 </select> 
                </td>
             </tr>
        </table>
         <table class="tbl">
         <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
          <caption>核稿3</caption>           
             <tr>
                 <td class="cap">核稿人：</td>
                <td >
                    <select name='db_orgin3_person'>
                          <foreach item='item' name='user_name'>
                                 <option value="{$item.uid}">{$item.name}</option>
                           </foreach>
                    </select>
                </td>
               <td class="cap">完成日期：</td>
                <td>
                   <input type="text" name='db_orgin3_date' id="date10" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">完成时间：</td>
                <td>
                   <input type="text" name='db_orgin3_time'  id='date11' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">核稿时长：</td>
                <td>
                   <input type="text" name='db_orgin3_length' class="input-text text">
                </td>
             </tr>
             <tr>
                 <td class="cap">核稿字数：</td>
                <td>
                   <input type="text" name='db_orgin3_num' class="input-text text">
                </td>
                 <td class="cap">修改字数：</td>
                <td>
                   <input type="text" name='db_update3_num' class="input-text text">
                </td>
                 <td class="cap">核稿评价：</td>
                <td colspan='3'>
                      <select name='db_orgin3_eval'>
                            <option value=优>优</option>
                            <option value="中">中</option>
                            <option value="差">差</option>    
                      </select>
                </td>
             </tr>
        </table>
     
        <table class="tbl">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
            <caption>评价</caption>
             <tr>
                 <td class="cap">中心评价：</td>
                <td>
                     <select name='db_evaluate'>
                            <option value=优>优</option>
                            <option value="中">中</option>
                            <option value="差">差</option>    
                      </select>
                </td>
                 <td class="cap">超时次数：</td>
                <td>
                    <input type="text" name='db_overtime_num' class="input-text text" >
                </td>
                 <td class="cap">硬伤次数：</td>
                <td colspan="3">
                    <input type="text" name='db_mishap_num' class="input-text text" >
                </td>
             </tr>
        </table>
         <table class="tbl">
         <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
             <caption>审批</caption>
              <tr>
                 <td class="cap">呈报日期：</td>
                <td>
                    <input type="text" name='db_examin_date' id="date12" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl" >
                </td>
                 <td class="cap">呈报时间：</td>
                <td>
                    <input type="text" name='db_examin_time'  id='date13' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl" >
                </td>
                 <td class="cap">审批方式：</td>
                <td>
                     <select name='db_examin_mode'>
                             <foreach item='item' name='exa_mode'>
                                <option value="{$item.config_value}">{$item.config_descripion}</option>
                           </foreach>
                    </select>
                </td>
                 <td class="cap">审批进展：</td>
                <td>
                     <select name='db_examin_progress'>
                           <foreach item='item' name='exa_mode1'>
                                <option value="{$item.config_value}">{$item.config_descripion}</option>
                           </foreach>
                    </select>
                </td>
             </tr>       
        </table>
         <table class="tbl">
         <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
          <caption>发文</caption>           
            <tr>
                 <td class="cap">发文方式：</td>
                 <td>
                     <select name="db_despatch_mode">
                        <foreach item='item' name='dis_mode'>
                                <option value="{$item.config_value}">{$item.config_descripion}</option>
                        </foreach>
                    </select>
                </td>
                 <td class="cap">发布人：</td>
                <td>
                    <input type="text" name='db_despatch_person' class="input-text text"  > 
                </td>
                 <td class="cap">发布日期：</td>
                <td>
                    <input type="text" name='db_despatch_date'id="date14" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl" >
                </td>
                  <td class="cap">发布时间：</td>
                <td>
                    <input type="text" name='db_despatch_time'  id='date15' onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'H:mm'})" class="Wdate input-text fl" >
                </td>
             </tr>
        </table>
        <table class="tbl">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
            <caption>存档</caption>
             <tr>
                 <td class="cap">存档人：</td>
                <td>
                    <input type="text" name='db_file_person' class="input-text text"  >
                </td>
                 <td class="cap">存档情况：</td>
                <td>
                     <select name='db_file_status'>
                            <foreach item='item' name='doc_status'>
                                 <option value="{$item.config_value}">{$item.config_descripion}</option>
                            </foreach>
                     </select>
                </td>
                 <td class="cap">存档时间：</td>
                <td>
                    <input type="text" name='db_file_date' id="date16" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
                </td>
                 <td class="cap">存档地址：</td>
                <td>
                    <input type="text" name='db_file_address' class="input-text text" >
                </td>
             </tr>
        </table>
         <table class="tbl">
         <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
          <caption>用印</caption>           
             <tr>
                 <td class="cap">用印全称：</td>
                <td>
                    <input type="text" name='db_india_name' class="input-text text" >
                </td>
                 <td class="cap">用印份数：</td>
                <td colspan="5">
                    <input type="text" name='db_india_num' class="input-text text" >
                </td>            
             </tr>
        </table>
         <table class="tbl">
         <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="15%">
        </colgroup>
             <caption>备注</caption>
             <tr>          
                <td colspan="8">
                 <textarea class="textarea" name="db_pre_beizhu" placeholder="备注内容:"></textarea>
                </td>
            </tr>
        </table>
        <div class="wrap-btns">

	      <input class="btn btn-red mr10 btn-submit productSubmit" type="submit" value="保存"/>
	      <input class="btn ml10 button btn-normal" type="reset" value="取消" onclick="javascript:history.back(-1)"/>
    	</div>
    </form>
</block>