<extend name="Public:base" />
<block name="title"><title>文稿台账批量导入</title></block>
<block name="right">
    <form action="{:U(importPresent)}" method='post' class="mt20" id="productManage" enctype="multipart/form-data">
        <table class="tbl">
            <tr>
                <td class="cap">上传附件：</td>
                <td colspan="1">
                    <input type="file" class="input-text text" name="filename">
                </td>                
            </tr>
         
        </table>
        <div class="wrap-btns">
            <input class="btn btn-red mr10 btn-submit productSubmit" type="submit" value="提交"/>
             <a href='{:U(index)}'><input class="btn ml10 button btn-normal" type="button" value="取消" /></a>
        </div>
    </form>

</block>