<extend name="Public:base"/>
<block name="title"><title>文稿台账列表</title></block>
<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
    <div class="role-padding container-padding">     
        <div class="filter-main clear">              
            <form method="post" action="{:U(index)}">
                <table class="tbl">
                    <tr>
                        <td class="cap">文字台账:</td>
                        <td> <input class="input-text" type="text" name="db_pre_name" id="db_pre_name" value="{$param['db_pre_name']}"></td>
                        <td class="cap">交办人：</td>
                        <td><input class="input-text" type="text" name="db_assign_name" id="db_assign_name" value="{$param['db_assign_name']}"></td>
                        <td class="cap">交办时间：</td>
                         <td><input type="text" name='db_assign_date' id="date8" value="{$param['db_assign_date']}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl" ></td>                   
                        <td>
                             <input class="btn btn-r btn-xl button" type="submit" value="查询"/>
                        </td>
                        <td>
                            
                          <a href="{:U('exportPresent')}"><input class="btn btn-r btn-xl button" type="button" value="集团模块导出" id="export"/></a>
                        </td>
                        <td>
                            <a href="{:U('exportPresents')}"><input class="btn btn-r btn-xl button" type="button" value="公司模块导出" id="export1"/></a>
                        </td>
                        <td>
                              <a class="tb-detail f-fr mr30" title="导入" href="{:U('importPresent')}">
                                    <input type="button" class="btn btn-c btn-xl button" value="导入">
                                </a>
                        </td>
                        
                         </tr> 
                       
                </table>
            </form>
             <table class="tbl tbl-list">
	            <colgroup>
                            <col width="9%">
                            <col width="13%">
                            <col width="11%">
                            <col width="11%">
                            <col width="25%">
                            <col width="38%">
	            </colgroup>
	            <thead>
	            <tr>
                                <th>台账名称</th>
                                <th>交办人</th>
                                <th>交办日期</th>
                                <th>拟稿人</th>
                                <th>发布时间</th>              
                                <th>操作</th>
                            </tr>
	            </thead>	        
	        <tbody>	
           
                    <foreach name="list" item="item">
	        	<tr>
                                <td>{$item.db_pre_name}</td>
                                <td>{$item.db_assign_name}</td>
                                <td>{$item.db_assign_date}</td>
                                <td>{$item.db_draft_person}</td>
                                <td>{$item.db_despatch_date}</td> 
                                <td>
                                    <a href="{:U('detailsPresent',array('db_pre_id'=>$item['db_pre_id']))}"> 
                                        <input type="button" value="详情" class="btn btn-r btn-xl button">
                                    </a> 
                                    <a href="{:U('savePresent',array('db_pre_id'=>$item['db_pre_id']))}"> 
                                        <input type="button" value="编辑" class="btn btn-r btn-xl button">
                                    </a> 
                                   
                                        <input type="button" value="删除" class="btn btn-r btn-xl button" onclick="withdraw('{$item.db_pre_id}')">
                                 
                                </td>
	        	</tr>
                    </foreach>
	        </tbody>
	        </table>
                </div>
            <div class="pagination fr">
                {$page}
            </div>
        </div> 
    <js href="__PUBLIC__/Js/presentation.js"/>
    <script>
        //创建
         var rightBtn = '<input class="btn btn-red mr10 submit rightBtn" type="button" onclick="openNew()" value="文稿台账创建"/>';
            $(rightBtn).appendTo(".location");
            function openNew(){
            location.href = "{:U('addPresent')}";
                
        }
         //删除操作
        function withdraw(id) {
            $.dialog({
                title: '提示信息', content: '确认删除吗？', ok: function () {
                    location.href = "delPresent/db_pre_id/" + id;
                },
                cancel: function () {
                }
            });
        }
        </script>
</block>

