<extend name="Public:base"/>

<block name="title"><title>角色添加</title></block>
<block name="right">
    <css href="__PUBLIC__/css/roleManage.css"/>
    <div class="role-padding container-padding">
        <div class="jxssp tb1">
            <form id="roleFrom" method="POST" action="{:U(add)}" enctype="multipart/form-data">
                <table class="tbl">
                    <caption>新增角色</caption>
                    <tr>
                        <td class="right role-edit-td role-n"><span style="color:red;">*</span>角色名称：</td>
                        <td class="role-edit-td role-input">
                            <input class="role-name-input input-text text" type="text" name="title" maxlength="30">
                            <input class="Role-name-hidden" type="hidden" name="$_id" value="-100">
                            <span class="err-message hide"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="right role-n">描述：</td>
                        <td class="role-input">
                            <textarea name="describe" maxlength="100"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="wrap-btns"> 
                 <input type="hidden" name="p" value="{$p}"/>
                            <input type="submit" name="submit" value="添加" id="btn-save" class="btn btn-submit btn-xl button mr10">
                            <input type="reset" value="返回" class="btn btn-normal btn-xl button ml10"
                                   onclick="javascript:history.back(-1)"/>
            </div>
        </div>
    </div>
    <js href="__PUBLIC__/Js/baseOperate.js"/>
    <js href="__PUBLIC__/Js/roleManage.js"/>
</block>

