<!DOCTYPE html>
<meta charset="UTF-8">
<extend name="Public:base" />
<block name="title"><title>角色编辑</title></block>
<block name="right">
    <css href="__PUBLIC__/css/roleManage.css"/>
    <div class="role-padding container-padding">
        <div class="jxssp tbl">
            <form id="roleFrom" method="POST" action="{:U(edit)}" enctype="multipart/form-data">
                <table class="tbl">
                <caption>角色编辑</caption>
                    <tr>
                        <td  class="right role-edit-td role-n"><span style="color:red;">*</span>角色名称:</td>
                        <td class="role-edit-td role-input">
                            <input class="role-name-input" type="text" maxlength="30" name="title" value="{$info.title}">
                            <input class="Role-name-hidden" type="hidden"  name="$_id" value="{$info.id}">
                            <span class="err-message hide"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="right role-n ">描述:</td>
                        <td class="role-input">
                            <textarea maxlength="100" name="describe">{$info.describe}</textarea>
                        </td>
                    </tr>
                </table>
                 <div class="wrap-btns"> 
                 <input type="hidden" name="id" value="{$info['id']}" />
                <input type="hidden" name="p" value="{$p}" />
                <input type="submit" name="submit" value="保存" id="btn-save" class="btn btn-submit btn-xl button mr10">
                <input type="reset" value="返回" class="btn btn-normal button ml10"
                                   onclick="javascript:history.back(-1)"/>
            </div>
            </form>
           
        </div>
    </div>
    <js href="__PUBLIC__/Js/baseOperate.js" />
    <js href="__PUBLIC__/Js/roleManage.js" />
</block>
