<extend name="Public:base"/>
<block name="title"><title>驻各地发展情况台账详情</title></block>

<block name="right"><br><br>
      <table class="tbl">
            <caption>基本信息</caption>
          
            <tr>
                <td class="cap">地区：</td>
                <td >
                      {$list.resident_region}
                </td>
                <td class="cap">国家：</td>
                <td > 
                     {$list.resident_country}
                </td>
                 <td class="cap">省份/城市：</td>
                <td>
                    {$list.resident_province}
                </td>
                <td class="cap">更新周期：</td>
                <td>
                  {$list.resident_update_time}
                </td>
            </tr> 
             <tr>
                <td class="cap">收集时间：</td>
                <td>
                    {$list.resident_collect_time}
                </td>
                <td class="cap">数据时间跨度：</td>
                <td>
                     {$list.resident_date_time}
                </td>
                 <td class="cap">责任人：</td>
                <td>
                      {$list.resident_person}
                </td>
                 <td class="cap">汇总单位：</td>
                <td>
                   {$list.resident_summary}
                </td>
            </tr>  
        </table>
        <table class="tbl">
          <caption>数据收集</caption>           
             <tr>
               <td class="cap">收集通知拟写人：</td>
                <td>
                    {$list.resident_collect_person}
                </td>
                 <td class="cap">通知是否批准：</td>
                <td>
                    {$list.resident_approve}
                </td>
                 <td class="cap">通知审批人：</td>
                <td>
                {$list.resident_examine_person}
                </td>
                 <td class="cap">汇总联系人：</td>
                <td >
                 {$list.resident_contact_person}
                </td>
             </tr>
             <tr>
                 <td class="cap">通知下发日期：</td>
                 <td colspan="7">
                  {$list.resident_notice_time}
                </td> 
             </tr>
        </table>   
         <table class="tbl">
          <caption>文稿审核</caption>           
             <tr>
                
               <td class="cap">是否提交审核：</td>
                <td>
                   {$list.resident_whether_submit}
                </td>
                 <td class="cap">当前节点：</td>
                <td colspan="5" >
                   {$list.resident_node}
                </td>
             </tr>
        </table>
         <table class="tbl">
          <caption>存档情况</caption>           
             <tr>
                
               <td class="cap">是否存档：</td>
                <td>
                  {$list.resident_whether_file}
                </td>
                 <td class="cap">存档日期：</td>
                <td  colspan="5">
                   {$list.resident_file_time}
                </td>
                
             </tr>
             <tr>
               <td class="cap">存档地址：</td>
               <td colspan="7">
                  {$list.resident_file_address}
                </td>
             </tr>
        </table>
          <div class="text-center">
                    <input type="button" value="返回" class="btn btn-r btn-xl button" onclick="javascript:history.back(-1)">     
    	</div>
</block>
