<extend name="Public:base"/>
<block name="title"><title>驻各地发展情况台账列表</title></block>
<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
    <div class="role-padding container-padding">     
        <div class="filter-main clear">              
            <form method="post" action="{:U(index)}">
                <table class="tbl">
                    <tr>
                        <td class="cap">国家:</td>
                        <td> <input class="input-text" type="text" name="resident_country" id="resident_country" value="{$param['resident_country']}"></td>
                        <td class="cap">责任人：</td>
                        <td><input class="input-text" type="text" name="resident_person" id="resident_person" value="{$param['resident_person']}"></td>
                        <td class="cap">收集时间：</td>
                         <td><input type="text" name='resident_collect_time' id="date8" value="{$param['resident_collect_time']}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl" ></td>                   
                        <td>
                             <input class="btn btn-r btn-xl button" type="submit" value="查询"/>
                        </td>
                        <td>
                          <a href="{:U('exportResident')}"><input class="btn btn-r btn-xl button" type="button" value="导出" id="export"/></a>
                        </td>
                        <td>
                              <a class="tb-detail f-fr mr30" title="导入" href="{:U('importExcel')}">
                                    <input type="button" class="btn btn-c btn-xl button" value="导入">
                                </a>
                        </td>
                         </tr> 
                       
                </table>
            </form>
             <table class="tbl tbl-list">
	            <colgroup>
                            <col width="9%">
                            <col width="13%">
                            <col width="11%">
                            <col width="11%">
                            <col width="25%">
                            <col width="38%">
	            </colgroup>
	            <thead>
	            <tr>
                                <th>国家</th>
                                <th>城市</th>
                                <th>收集时间</th>
                                <th>责任人</th>
                                <th>存档日期</th>              
                                <th>操作</th>
                            </tr>
	            </thead>	        
	        <tbody>	
           
                    <foreach name="list" item="item">
	        	<tr>
                                <td>{$item.resident_country}</td>
                                <td>{$item.resident_province}</td>
                                <td>{$item.resident_collect_time}</td>
                                <td>{$item.resident_person}</td>
                                <td>{$item.resident_file_time}</td> 
                                <td>
                                    <a href="{:U('detailsResident',array('resident_id'=>$item['resident_id']))}"> 
                                        <input type="button" value="详情" class="btn btn-r btn-xl button">
                                    </a> 
                                    <a href="{:U('saveResident',array('resident_id'=>$item['resident_id']))}"> 
                                        <input type="button" value="编辑" class="btn btn-r btn-xl button">
                                    </a> 
                                   
                                        <input type="button" value="删除" class="btn btn-r btn-xl button" onclick="withdraw('{$item.resident_id}')">
                                 
                                </td>
	        	</tr>
                    </foreach>
	        </tbody>
	        </table>
                </div>
            <div class="pagination fr">
                {$page}
            </div>
        </div> 
    <js href="__PUBLIC__/Js/resident.js"/>
    <script>
    
         //删除操作
        function withdraw(id) {
            $.dialog({
                title: '提示信息', content: '确认删除吗？', ok: function () {
                    location.href = '{:U("/Manage/ResidentMeeting/delResident/resident_id/' + id + '")}';
                    
                },
                cancel: function () {
                }
            });
        }
        </script>
</block>

