<extend name="Public:base" />
<block name="title"><title>文档创建</title></block>

<block name="right">
    <form action="{:U(addFile)}" method='post' enctype= "multipart/form-data" class="mt20" id="productManage">
        <table class="tbl">
        <caption>文档创建</caption>
            <colgroup>
                <col width="12%">
                <col width="21%">
                <col width="13%">
                <col width="21%">
                <col width="12%">
                <col width="21%">
            </colgroup>
            <tr>
                <td class="cap"><span class="rq">*</span>文档名称：</td>
                <td>
                     <input type="text" name='doc_name' class="input-text text">
                </td>
                <td class="cap">发布部门：</td>
                <td colspan="3">
                    <select name='doc_dept_id'>
                        <foreach item='item' name='file_depart'>
                            <option value="{$item.config_value}">{$item.config_descripion}</option>
                        </foreach>        
                    </select>
                </td>
            </tr>     
            <tr>
                <td class="cap">发布类别：</td>
                <td>
                    <select name='doc_pub_type'>
                        <foreach item='item' name='file_type'>
                            <option value="{$item.config_value}">{$item.config_descripion}</option>
                        </foreach>
                    </select>
                </td>
                <td class="cap"><span class="rq">*</span>生效日期：</td>
                <td>
                       <input type="text" name='doc_start_date'  id="date1" value="{$start_time}" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
              </td>
                <td class="cap"><span class="rq">*</span>失效日期：</td>
                <td>
                         <input type="text" name='doc_end_date'  id="date2" value="{$start_time}" onfocus="WdatePicker({startDate: '%y-%M-%d 00:00:00'})" class="Wdate input-text fl">
               </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>公文发布文件设定</caption>
             <tr>
                 <td class="cap">文档可见范围：</td>
                <td >
                    <select name='doc_root_view'>
                        <foreach item='item' name='file_range'>
                            <option value="{$item.config_value}">{$item.config_descripion}</option>
                        </foreach>
                    </select>
                </td>
               <td class="cap">浏览权限设定：</td>
                <td colspan='3'>
                    <select name='doc_root_do'>
                        <foreach item='item' name='file_authority'>
                            <option value="{$item.config_value}">{$item.config_descripion}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
        </table>
        <table class="tbl">
            <caption>附件上传</caption>
             <tr>
                 <td class="cap" ><span class="rq">*</span>上传文档：</td>
                <td colspan='7'>
                    <input type="file" name='file' class="inputFile">
                    <span style="color:red">文档大小不能超过20M,支持文档格式如:
                        {$doc_type}
                    </span>
                </td>
             </tr>
        </table>
        <table class="tbl">
            <caption>附件封面上传</caption>
             <tr>
               <td class="cap"><span class="rq">*</span>上传图片：</td>
                <td colspan='7'>
                   <input type="file" name='file1' class="inputPic"><span style="color:red" >图片支持JPG、大小不能超过0.5M</soan>
                </td>
            </tr>
        </table>
         <table class="tbl">
             <tr>
               <td class="cap"><span class="rq">*</span>文档备注：</td>
                <td colspan='7'>
                 <textarea class="textarea" name="doc_beizhu"></textarea>
                </td>
            </tr>
        </table>
        <div class="wrap-btns">

	        <input class="btn btn-red mr10 btn-submit" type="submit" id="submit" value="提交"/>
                <a href="{:U('index')}" >
                    <input type="button" class="btn ml10 button btn-normal" value="取消">
                </a>
    	</div>
    </form>
    <script type="text/javascript">
    $('#submit').on("click",function(){
        if($.trim($("[name=doc_name]").val()) == ""){
            $.dialog.alert("请填写文档名称！");
            return false;
        }else if($("#date1").val() == ""){
            $.dialog.alert("请填写生效时间！");
            return false;
        }else if($("#date2").val() == ""){
            $.dialog.alert("请填写失效时间！");
            return false;
        }else if($(".inputFile").val() == ""){
            $.dialog.alert("请上传文档！");
            return false;
        }else if($(".inputPic").val() == ""){
            $.dialog.alert("请上传图片！");
            return false;
        }else if($.trim($("[name=doc_beizhu]").val()) == ""){
            $.dialog.alert("请填写文档备注！");
            return false;
        }
    });
</script>
</block>