<extend name="Public:base"/>
<block name="title"><title>文档发布列表</title></block>
<block name="right">
    <css href="__PUBLIC__/css/meeting.css"/>
  
    <div class="role-padding container-padding">     
        <div class="clear">              
            <form method="post" action="{:U(index)}" id="execlid">
                <table class="tbl">
                <caption>   
                        查询条件
                </caption>
                    <tr>
                        <td class="cap">文档名称:</td>
                        <td> <input class="input-text" type="text" name="doc_name" value="{$param['doc_name']}"></td>
                        <td class="cap">发布人：</td>
                        <td><input class="input-text" type="text" name="name" value="{$param['name']}"></td>
                        
                         </tr>   
                         <tr>   
                              <td class="cap">发布时间：</td>
                         <td><input type="text" name='doc_pub_date' id="date8" value="{$param['doc_pub_date']}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl" ></td>
                        <td class="cap">发布类型：</td>
                        <td>
                             <select name='doc_pub_type'>
                                 <option value="">--请选择--</option>
                                <foreach item='item' name='file_type'>
                                    <option  <if condition="$param['doc_pub_type'] eq $item['config_value'] "> selected</if> value="{$item.config_value}">{$item.config_descripion}</option>
                                </foreach>
                             </select>
                        </td>  
                         </tr>  
                         <tr>   
                                <td colspan="4">
                                        <div class="wrap-btns"> 
                                              <input class="btn btn-red mr10 submit" type="submit" value="查询"/>    
                                        </div>    
                                </td>
                         </tr> 
                         <input type="hidden" id="hiddenform" name="hiddenform"> 
                </table>
            </form>
             <table class="tbl tbl-list">
	  
               <caption>文档列表</caption>
                <colgroup>  
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="20%">
            </colgroup>
               
	            <thead>
	            <tr>
                                <th>文档名称</th>
                                <th>文档类型</th>
                                <th>发布人</th>
                                <th>发布时间</th>
                                <th>失效时间</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
	            </thead>	        
	        <tbody>	
           
                    <foreach name="list" item="item">
	        	<tr>
                                <td>{$item.doc_name}</td>
                                <td>{$item.doc_pub_type}</td>
                                <td>{$item.name}</td>
                               
                                <td>{$item.doc_pub_date}</td>
                                <td>{$item.doc_end_date}</td>
                                <if condition="$item['doc_start_date'] gt $time">
                                    <td>未生效</td>
                                    <elseif condition="$item['doc_end_date'] lt $time" />
                                    <td>已失效</td>
                                    <else/>
                                    <td>生效中</td>
                                </if>
                                <td>{$item.doc_beizhu}</td>       
                                <td>
                                    <a class="btn btn-r btn-xl button" href="{:U('detailsFile',array('doc_id'=>$item['doc_id']))}">详情</a> 
                                    <a class="btn btn-r btn-xl button" href="{:U('saveFile',array('doc_id'=>$item['doc_id']))}">编辑</a>       
	        		   <input type="button" value="撤回" class="btn btn-r btn-xl button" onclick="withdraw({$item.doc_id})" >
                                </td>
	        	</tr>
                    </foreach>
	        </tbody>
	        </table>
                </div>
            <div class="pagination fr">
                {$page}
            </div>
        </div>
    <script>
    var rightBtn = '<input class="btn btn-red submit leftBtn" type="button" onclick="openNew()" value="文档发布创建"/>';
    $(rightBtn).appendTo(".location");
    function openNew(){
        location.href = '{:U(addFile)}';
    }
    var exportBtn = '<input class="btn btn-red submit rightBtn" type="button" onclick="importMeeting()" value="导出记录"/>';
    $(exportBtn).appendTo(".location");
    function importMeeting(){
        $("#hiddenform").val(1);
        $("#execlid").submit();
        $("#hiddenform").val(0);   
    }
    
        //撤回操作
        function withdraw(id) {
            $.dialog({
                title: '提示信息', content: '确认撤回吗？', ok: function () {
                    location.href = '{:U("/Manage/File/delFile/doc_id/' + id + '")}';
                },
                cancel: function () {
                }
            });
        }
    </script>
</block>

