<extend name="Public:base" />
<block name="title"><title>会议创建</title></block>

<block name="right">

<div class="container-padding">
 	<form method="post" action="{:U(index)}">
	    <table class="tbl">
			<caption>查询条件</caption>
			<tr>
			    <td class="cap">文档名称：</td>
			    <td><input class="input-text text" name="nickname" value="" type="text" placeholder="关键字(拼音)"/></td>
			    <td class="cap">发布人：</td>
			    <td><input class="input-text text" name="nickname" value="" type="text"/></td>
			    <td class="cap">起始时间：</td>
			    <td><input type="text" name='start_time' id="date8" value="{$start_time}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl"></td>
			   <td class="cap">结束时间：</td>
			    <td><input type="text" name='start_time' id="date8" value="{$start_time}" onfocus="WdatePicker({startDate:'%y-%M-%d 00:00:00'})" class="Wdate input-text fl"></td>		   
                          <td class="cap">发布类型：</td>
			    <td>
                                <select name='meeting[meeting_form]'>
                                    <foreach item='item' name='form_info'>
                                        <option value="{$item.meeting_form_id}">{$item.meeting_form_name}</option>
                                    </foreach>
                                </select>
                            </td>
                            
                           
	    	</tr>         
	    </table>
	    </form>
	    <div class="tb1 jxssp">
	        <table class="tbl tbl-list">
	            <colgroup>
	                <col width="20%">
	                <col width="13%">
	                <col width="13%">
	                <col width="13%">
	                <col width="13%">
	                <col width="13%">
                         <col width="28%">
	            </colgroup>
	            <thead>
	            <tr>
	                <th>文档名称</th>
	                <th>文档类型</th>
	                <th>发布人</th>
	                <th>发布时间</th>
	                <th>失效时间</th>
                        <th>状态</th>
                        <th>备注</th>
	            </tr>
	            </thead>
	        
	        <tbody>	
	        	<tr>
                            <td>xx工作</td>
                            <td>人力公文</td>
                            <td>z明珠</td>
                            <td>2016/09/20</d>
                            <td>2016/09/20</td>
                            <td>失效</td>
                            <td>xxxxxx</td>	     		
	        	</tr>

	        </tbody>
                
           
                
	        </table>
	            <div class="pagination fr">
	                {$page}

	            </div>
                <center><input class="btn btn-red mr10 submit" type="button" value="查询" /></center>
	        </div>
	    </div>	  
</block>