<div class="header">
    <div class="header-inner">
        <div class="header-hd">
            <div class="login-main clear">
                <div class="logo fl">
                    <img src="__PUBLIC__/images/logo.png">
                </div>
                <div class="fr login-content">
                    <a class="login-person fl">您好！<span>{$admin_info.UNAME} </span>欢迎登录</a>
                    <div class="line fl"></div>
                    <a href="{:U('Index/index')}" id="home" class="fl">首页</a>
                    <div class="line fl"></div>
                    <a href="{:U('MessageManage/showList')}" class="fl" id="home">系统消息</a>
                    <div class="line fl"></div>
                    <a href="{:U('Ucenter/modifyPsd')}" class="fl">修改密码</a>
                    <div class="line fl"></div>
                    <a href="{:U('Login/logout')}" class="fl">退出</a>
                </div>  
            </div>
            
        </div>
    </div>
</div>
