<extend name="Public:base"/>
<block name="title">
    <title>
        关联角色
    </title>
</block>

<block name="right">
    <css href="__PUBLIC__/css/userManage.css"/>
    <div class="container-padding">
        <div class="wrap-table mt10 user-allocationRole">
            <form action="{:U(allocationRole)}" method="post" class="user-allocationRole-form">
                <table class="tbl tbl-list">
                    <caption>当前用户：{$info.nickname}</caption>
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                        
                    </thead>
                    <tbody class="user-tbody">
                    <tr>
                    <td colspan="5">
                            <input type="checkbox" id='allSelect'>
                            <span class="cr">选择角色</span>
                    </td>
                           
                        </tr>
                    <tr class="no-border">
                        <volist name="group_info" key="Ukey" id="vo">
                            <td>
                                <label class='checkbox-default checkbox-normal
                                   <foreach name="user_group_info" item="item">
                                <if condition=" $vo.id eq $item.group_id ">
                                     checkbox-checked
                                </if>
                            </foreach>
                                   '
                                       for="singleSelect{$vo.id}"></label>
                                <input type='checkbox' class="singleSelect"
                                <foreach name="user_group_info" item="item">
                                    <if condition=" $vo.id eq $item.group_id ">
                                        checked=checked
                                    </if>
                                </foreach>
                                id="singleSelect{$vo.id}" value='{$vo.id}'
                                name='childrenBox[]'>
                                <span class="allocationRoleTitle">{$vo.title}</span>

                            </td>

                            <if condition="$Ukey %5 eq 0"></tr><tr class="no-border"> </if>


                        </volist>
                    </tr>
                    </tbody>
                </table>
                
            </form>
            <div class="wrap-btns">
                <input type="hidden" name='uid' value="{$info.uid}">
                <input class="btn-submit btn-xl button btn fl" type="submit" name='submit' value="保存"/>
                <a href="{:U(index)}" class="btn-normal btn-xl button btn fl">返回</a>
        </div>
    </div>
    <js href="__PUBLIC__/Js/baseOperate.js"/>
    <js href="__PUBLIC__/Js/userManage.js"/>
</block>
